In [34]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt

In [2]:
file_path = 'data/2006_UER_2.xlsx'
df = pd.read_excel(file_path)

In [3]:
df = df[df['Year'] == 2006]

In [4]:
df

,Name_of_Regions,Year,GDP,Unnamed: 3,citycode,Area,Unnamed: 6,Industrial_wastewater_discharge_(tonnes),Industrial_sulphur_dioxide_emissions_(tonnes),Industrial_fume_emissions_(tonnes),Comprehensive_industrial_solid_waste_utilisation_rate(%),Urban_domestic_sewage_treatment_rate(%),Rate_of_non_hazardous_treatment_of_domestic_waste(%),Greening_coverage_in_builtup_areas,Parkland_per_capita,Name_of_Regions.1
0,NationalTotal,2006,NaN,NaN,NaN,NaN,NaN,2264635.0,19597762.0,8122360.0,NaN,NaN,NaN,NaN,NaN,NationalTotal
1,Beijing,2006,78702835.0,NaN,110000.0,16405.0,NaN,10170.0,93755.0,14648.0,80.79,92.48,74.57,44.34,10.68,Beijing
2,Tianjin,2006,43591500.0,NaN,120000.0,11924.0,NaN,22978.0,232282.0,66920.0,98.41,73.90,85.06,5.55,6.59,Tianjin
3,Hebei,2006,NaN,NaN,NaN,NaN,NaN,130340.0,1325680.0,553068.0,NaN,NaN,NaN,NaN,7.87,Hebei
4,Shijiazhuang,2006,20266320.0,NaN,130100.0,14058.0,NaN,24196.0,209879.0,86665.0,95.84,78.60,100.00,36.15,8.24,Shijiazhuang
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,Guyuan,2006,519279.0,NaN,640400.0,10524.0,NaN,250.0,679.0,1650.0,95.29,0.00,95.80,22.50,9.26,Guyuan
316,Zhongwei,2006,750050.0,NaN,640500.0,13659.0,NaN,4189.0,59455.0,28417.0,70.00,84.00,96.70,28.74,22.67,Zhongwei
317,Xinjiang,2006,30452600.0,NaN,650000.0,1630586.0,NaN,6759.0,142459.0,51410.0,47.93,NaN,27.00,30.00,6.96,Xinjiang
318,Urumuchi,2006,6543019.0,NaN,650100.0,13793.0,NaN,5232.0,118666.0,47066.0,68.47,67.07,65.39,20.99,5.46,Urumuchi
319,Kelamayi,2006,4732562.0,NaN,650200.0,7374.0,NaN,1527.0,23793.0,4344.0,48.40,91.33,67.70,39.81,8.06,Kelamayi

In [5]:
# 去除指定列中包含NaN值的行
columns_to_check = [ 
    'GDP'
]
df_cleaned = df.dropna(subset=columns_to_check)

In [6]:
df_cleaned

,Name_of_Regions,Year,GDP,Unnamed: 3,citycode,Area,Unnamed: 6,Industrial_wastewater_discharge_(tonnes),Industrial_sulphur_dioxide_emissions_(tonnes),Industrial_fume_emissions_(tonnes),Comprehensive_industrial_solid_waste_utilisation_rate(%),Urban_domestic_sewage_treatment_rate(%),Rate_of_non_hazardous_treatment_of_domestic_waste(%),Greening_coverage_in_builtup_areas,Parkland_per_capita,Name_of_Regions.1
1,Beijing,2006,78702835.0,NaN,110000.0,16405.0,NaN,10170.0,93755.0,14648.0,80.79,92.48,74.57,44.34,10.68,Beijing
2,Tianjin,2006,43591500.0,NaN,120000.0,11924.0,NaN,22978.0,232282.0,66920.0,98.41,73.90,85.06,5.55,6.59,Tianjin
4,Shijiazhuang,2006,20266320.0,NaN,130100.0,14058.0,NaN,24196.0,209879.0,86665.0,95.84,78.60,100.00,36.15,8.24,Shijiazhuang
5,Tangshan,2006,23621410.0,NaN,130200.0,13808.0,NaN,28713.0,296038.0,143440.0,61.64,80.50,98.90,42.17,8.95,Tangshan
6,Qinhuangdao,2006,5520509.0,NaN,130300.0,7792.0,NaN,5508.0,52802.0,15740.0,91.94,84.70,100.00,42.70,8.29,Qinhuangdao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,Guyuan,2006,519279.0,NaN,640400.0,10524.0,NaN,250.0,679.0,1650.0,95.29,0.00,95.80,22.50,9.26,Guyuan
316,Zhongwei,2006,750050.0,NaN,640500.0,13659.0,NaN,4189.0,59455.0,28417.0,70.00,84.00,96.70,28.74,22.67,Zhongwei
317,Xinjiang,2006,30452600.0,NaN,650000.0,1630586.0,NaN,6759.0,142459.0,51410.0,47.93,NaN,27.00,30.00,6.96,Xinjiang
318,Urumuchi,2006,6543019.0,NaN,650100.0,13793.0,NaN,5232.0,118666.0,47066.0,68.47,67.07,65.39,20.99,5.46,Urumuchi
319,Kelamayi,2006,4732562.0,NaN,650200.0,7374.0,NaN,1527.0,23793.0,4344.0,48.40,91.33,67.70,39.81,8.06,Kelamayi

In [7]:
# 将指定列的NaN值转换为0
columns_to_fill = [
    'Industrial_wastewater_discharge_(tonnes)', 
    'Industrial_fume_emissions_(tonnes)', 
    'Comprehensive_industrial_solid_waste_utilisation_rate(%)', 
    'Rate_of_non_hazardous_treatment_of_domestic_waste(%)', 
    'Greening_coverage_in_builtup_areas', 
    'Parkland_per_capita'
]

df_cleaned[columns_to_fill] = df_cleaned[columns_to_fill].fillna(0)

/tmp/ipykernel_25928/1106163433.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[columns_to_fill] = df_cleaned[columns_to_fill].fillna(0)

In [8]:
df_cleaned

,Name_of_Regions,Year,GDP,Unnamed: 3,citycode,Area,Unnamed: 6,Industrial_wastewater_discharge_(tonnes),Industrial_sulphur_dioxide_emissions_(tonnes),Industrial_fume_emissions_(tonnes),Comprehensive_industrial_solid_waste_utilisation_rate(%),Urban_domestic_sewage_treatment_rate(%),Rate_of_non_hazardous_treatment_of_domestic_waste(%),Greening_coverage_in_builtup_areas,Parkland_per_capita,Name_of_Regions.1
1,Beijing,2006,78702835.0,NaN,110000.0,16405.0,NaN,10170.0,93755.0,14648.0,80.79,92.48,74.57,44.34,10.68,Beijing
2,Tianjin,2006,43591500.0,NaN,120000.0,11924.0,NaN,22978.0,232282.0,66920.0,98.41,73.90,85.06,5.55,6.59,Tianjin
4,Shijiazhuang,2006,20266320.0,NaN,130100.0,14058.0,NaN,24196.0,209879.0,86665.0,95.84,78.60,100.00,36.15,8.24,Shijiazhuang
5,Tangshan,2006,23621410.0,NaN,130200.0,13808.0,NaN,28713.0,296038.0,143440.0,61.64,80.50,98.90,42.17,8.95,Tangshan
6,Qinhuangdao,2006,5520509.0,NaN,130300.0,7792.0,NaN,5508.0,52802.0,15740.0,91.94,84.70,100.00,42.70,8.29,Qinhuangdao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,Guyuan,2006,519279.0,NaN,640400.0,10524.0,NaN,250.0,679.0,1650.0,95.29,0.00,95.80,22.50,9.26,Guyuan
316,Zhongwei,2006,750050.0,NaN,640500.0,13659.0,NaN,4189.0,59455.0,28417.0,70.00,84.00,96.70,28.74,22.67,Zhongwei
317,Xinjiang,2006,30452600.0,NaN,650000.0,1630586.0,NaN,6759.0,142459.0,51410.0,47.93,NaN,27.00,30.00,6.96,Xinjiang
318,Urumuchi,2006,6543019.0,NaN,650100.0,13793.0,NaN,5232.0,118666.0,47066.0,68.47,67.07,65.39,20.99,5.46,Urumuchi
319,Kelamayi,2006,4732562.0,NaN,650200.0,7374.0,NaN,1527.0,23793.0,4344.0,48.40,91.33,67.70,39.81,8.06,Kelamayi

In [9]:
df_cleaned['Res1'] = df_cleaned['Industrial_wastewater_discharge_(tonnes)'] / df_cleaned['GDP']

/tmp/ipykernel_25928/2666823736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res1'] = df_cleaned['Industrial_wastewater_discharge_(tonnes)'] / df_cleaned['GDP']

In [10]:
df_cleaned

,Name_of_Regions,Year,GDP,Unnamed: 3,citycode,Area,Unnamed: 6,Industrial_wastewater_discharge_(tonnes),Industrial_sulphur_dioxide_emissions_(tonnes),Industrial_fume_emissions_(tonnes),Comprehensive_industrial_solid_waste_utilisation_rate(%),Urban_domestic_sewage_treatment_rate(%),Rate_of_non_hazardous_treatment_of_domestic_waste(%),Greening_coverage_in_builtup_areas,Parkland_per_capita,Name_of_Regions.1,Res1
1,Beijing,2006,78702835.0,NaN,110000.0,16405.0,NaN,10170.0,93755.0,14648.0,80.79,92.48,74.57,44.34,10.68,Beijing,0.000129
2,Tianjin,2006,43591500.0,NaN,120000.0,11924.0,NaN,22978.0,232282.0,66920.0,98.41,73.90,85.06,5.55,6.59,Tianjin,0.000527
4,Shijiazhuang,2006,20266320.0,NaN,130100.0,14058.0,NaN,24196.0,209879.0,86665.0,95.84,78.60,100.00,36.15,8.24,Shijiazhuang,0.001194
5,Tangshan,2006,23621410.0,NaN,130200.0,13808.0,NaN,28713.0,296038.0,143440.0,61.64,80.50,98.90,42.17,8.95,Tangshan,0.001216
6,Qinhuangdao,2006,5520509.0,NaN,130300.0,7792.0,NaN,5508.0,52802.0,15740.0,91.94,84.70,100.00,42.70,8.29,Qinhuangdao,0.000998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,Guyuan,2006,519279.0,NaN,640400.0,10524.0,NaN,250.0,679.0,1650.0,95.29,0.00,95.80,22.50,9.26,Guyuan,0.000481
316,Zhongwei,2006,750050.0,NaN,640500.0,13659.0,NaN,4189.0,59455.0,28417.0,70.00,84.00,96.70,28.74,22.67,Zhongwei,0.005585
317,Xinjiang,2006,30452600.0,NaN,650000.0,1630586.0,NaN,6759.0,142459.0,51410.0,47.93,NaN,27.00,30.00,6.96,Xinjiang,0.000222
318,Urumuchi,2006,6543019.0,NaN,650100.0,13793.0,NaN,5232.0,118666.0,47066.0,68.47,67.07,65.39,20.99,5.46,Urumuchi,0.000800
319,Kelamayi,2006,4732562.0,NaN,650200.0,7374.0,NaN,1527.0,23793.0,4344.0,48.40,91.33,67.70,39.81,8.06,Kelamayi,0.000323

In [11]:
df_cleaned['Res1'].describe()

count    292.000000
mean       0.001258
std        0.001332
min        0.000000
25%        0.000530
50%        0.000950
75%        0.001517
max        0.014516
Name: Res1, dtype: float64

In [12]:
df_cleaned['Res2'] = df_cleaned['Industrial_fume_emissions_(tonnes)'] / df_cleaned['GDP']

/tmp/ipykernel_25928/2575824147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res2'] = df_cleaned['Industrial_fume_emissions_(tonnes)'] / df_cleaned['GDP']

In [13]:
df_cleaned['Res2'].describe()

count    292.000000
mean       0.006353
std        0.007653
min        0.000000
25%        0.001644
50%        0.003894
75%        0.008114
max        0.059008
Name: Res2, dtype: float64

In [14]:
df_cleaned

,Name_of_Regions,Year,GDP,Unnamed: 3,citycode,Area,Unnamed: 6,Industrial_wastewater_discharge_(tonnes),Industrial_sulphur_dioxide_emissions_(tonnes),Industrial_fume_emissions_(tonnes),Comprehensive_industrial_solid_waste_utilisation_rate(%),Urban_domestic_sewage_treatment_rate(%),Rate_of_non_hazardous_treatment_of_domestic_waste(%),Greening_coverage_in_builtup_areas,Parkland_per_capita,Name_of_Regions.1,Res1,Res2
1,Beijing,2006,78702835.0,NaN,110000.0,16405.0,NaN,10170.0,93755.0,14648.0,80.79,92.48,74.57,44.34,10.68,Beijing,0.000129,0.000186
2,Tianjin,2006,43591500.0,NaN,120000.0,11924.0,NaN,22978.0,232282.0,66920.0,98.41,73.90,85.06,5.55,6.59,Tianjin,0.000527,0.001535
4,Shijiazhuang,2006,20266320.0,NaN,130100.0,14058.0,NaN,24196.0,209879.0,86665.0,95.84,78.60,100.00,36.15,8.24,Shijiazhuang,0.001194,0.004276
5,Tangshan,2006,23621410.0,NaN,130200.0,13808.0,NaN,28713.0,296038.0,143440.0,61.64,80.50,98.90,42.17,8.95,Tangshan,0.001216,0.006072
6,Qinhuangdao,2006,5520509.0,NaN,130300.0,7792.0,NaN,5508.0,52802.0,15740.0,91.94,84.70,100.00,42.70,8.29,Qinhuangdao,0.000998,0.002851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,Guyuan,2006,519279.0,NaN,640400.0,10524.0,NaN,250.0,679.0,1650.0,95.29,0.00,95.80,22.50,9.26,Guyuan,0.000481,0.003177
316,Zhongwei,2006,750050.0,NaN,640500.0,13659.0,NaN,4189.0,59455.0,28417.0,70.00,84.00,96.70,28.74,22.67,Zhongwei,0.005585,0.037887
317,Xinjiang,2006,30452600.0,NaN,650000.0,1630586.0,NaN,6759.0,142459.0,51410.0,47.93,NaN,27.00,30.00,6.96,Xinjiang,0.000222,0.001688
318,Urumuchi,2006,6543019.0,NaN,650100.0,13793.0,NaN,5232.0,118666.0,47066.0,68.47,67.07,65.39,20.99,5.46,Urumuchi,0.000800,0.007193
319,Kelamayi,2006,4732562.0,NaN,650200.0,7374.0,NaN,1527.0,23793.0,4344.0,48.40,91.33,67.70,39.81,8.06,Kelamayi,0.000323,0.000918

In [15]:
df_cleaned['Ada1'] = df_cleaned['Comprehensive_industrial_solid_waste_utilisation_rate(%)'] 
df_cleaned['Ada1'].describe()

/tmp/ipykernel_25928/526319254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada1'] = df_cleaned['Comprehensive_industrial_solid_waste_utilisation_rate(%)']

count    292.000000
mean      75.180068
std       24.851906
min        0.000000
25%       61.547500
50%       84.955000
75%       94.592500
max      135.000000
Name: Ada1, dtype: float64

In [16]:
# 查找 Ada1 列值大于 100 的行
rows_ada1_above_100 = df_cleaned[df_cleaned['Ada1'] > 100]
rows_ada1_above_100

,Name_of_Regions,Year,GDP,Unnamed: 3,citycode,Area,Unnamed: 6,Industrial_wastewater_discharge_(tonnes),Industrial_sulphur_dioxide_emissions_(tonnes),Industrial_fume_emissions_(tonnes),Comprehensive_industrial_solid_waste_utilisation_rate(%),Urban_domestic_sewage_treatment_rate(%),Rate_of_non_hazardous_treatment_of_domestic_waste(%),Greening_coverage_in_builtup_areas,Parkland_per_capita,Name_of_Regions.1,Res1,Res2,Ada1
238,Hezhou,2006,1896526.0,NaN,451100.0,11753.0,NaN,2749.0,22420.0,18109.0,135.0,NaN,0.0,24.57,4.57,Hezhou,0.001449,0.009549,135.0

In [17]:
df_cleaned['Ada2'] = df_cleaned['Rate_of_non_hazardous_treatment_of_domestic_waste(%)'] 
df_cleaned['Ada2'].describe()

/tmp/ipykernel_25928/2482281589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada2'] = df_cleaned['Rate_of_non_hazardous_treatment_of_domestic_waste(%)']

count    292.000000
mean      61.873527
std       37.630763
min        0.000000
25%       30.487500
50%       74.325000
75%       96.452500
max      100.000000
Name: Ada2, dtype: float64

In [18]:
df_cleaned['Rec1'] = df_cleaned['Greening_coverage_in_builtup_areas'] 
df_cleaned['Rec2'] = df_cleaned['Parkland_per_capita']

/tmp/ipykernel_25928/1792138184.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec1'] = df_cleaned['Greening_coverage_in_builtup_areas']
/tmp/ipykernel_25928/1792138184.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec2'] = df_cleaned['Parkland_per_capita']

In [19]:
df_cleaned['Rec1'].describe()

count    292.000000
mean      33.145205
std       10.173790
min        0.000000
25%       27.742500
50%       35.150000
75%       39.812500
max       67.200000
Name: Rec1, dtype: float64

In [20]:
df_cleaned['Rec2'].describe()

count    292.000000
mean       8.224932
std        4.033693
min        0.000000
25%        6.045000
50%        7.720000
75%        9.625000
max       30.700000
Name: Rec2, dtype: float64

In [35]:
df_cleaned

,Name_of_Regions,Year,GDP,Unnamed: 3,citycode,Area,Unnamed: 6,Industrial_wastewater_discharge_(tonnes),Industrial_sulphur_dioxide_emissions_(tonnes),Industrial_fume_emissions_(tonnes),...,Rate_of_non_hazardous_treatment_of_domestic_waste(%),Greening_coverage_in_builtup_areas,Parkland_per_capita,Name_of_Regions.1,Res1,Res2,Ada1,Ada2,Rec1,Rec2
1,Beijing,2006,78702835.0,NaN,110000.0,16405.0,NaN,10170.0,93755.0,14648.0,...,74.57,44.34,10.68,Beijing,0.000129,0.000186,80.79,74.57,44.34,10.68
2,Tianjin,2006,43591500.0,NaN,120000.0,11924.0,NaN,22978.0,232282.0,66920.0,...,85.06,5.55,6.59,Tianjin,0.000527,0.001535,98.41,85.06,5.55,6.59
4,Shijiazhuang,2006,20266320.0,NaN,130100.0,14058.0,NaN,24196.0,209879.0,86665.0,...,100.00,36.15,8.24,Shijiazhuang,0.001194,0.004276,95.84,100.00,36.15,8.24
5,Tangshan,2006,23621410.0,NaN,130200.0,13808.0,NaN,28713.0,296038.0,143440.0,...,98.90,42.17,8.95,Tangshan,0.001216,0.006072,61.64,98.90,42.17,8.95
6,Qinhuangdao,2006,5520509.0,NaN,130300.0,7792.0,NaN,5508.0,52802.0,15740.0,...,100.00,42.70,8.29,Qinhuangdao,0.000998,0.002851,91.94,100.00,42.70,8.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,Guyuan,2006,519279.0,NaN,640400.0,10524.0,NaN,250.0,679.0,1650.0,...,95.80,22.50,9.26,Guyuan,0.000481,0.003177,95.29,95.80,22.50,9.26
316,Zhongwei,2006,750050.0,NaN,640500.0,13659.0,NaN,4189.0,59455.0,28417.0,...,96.70,28.74,22.67,Zhongwei,0.005585,0.037887,70.00,96.70,28.74,22.67
317,Xinjiang,2006,30452600.0,NaN,650000.0,1630586.0,NaN,6759.0,142459.0,51410.0,...,27.00,30.00,6.96,Xinjiang,0.000222,0.001688,47.93,27.00,30.00,6.96
318,Urumuchi,2006,6543019.0,NaN,650100.0,13793.0,NaN,5232.0,118666.0,47066.0,...,65.39,20.99,5.46,Urumuchi,0.000800,0.007193,68.47,65.39,20.99,5.46
319,Kelamayi,2006,4732562.0,NaN,650200.0,7374.0,NaN,1527.0,23793.0,4344.0,...,67.70,39.81,8.06,Kelamayi,0.000323,0.000918,48.40,67.70,39.81,8.06

In [36]:
columns_to_keep = ['Name_of_Regions','citycode','Year','Res1','Res2','Ada1','Ada2','Rec1','Rec2']
data_merged = df_cleaned[columns_to_keep]

In [37]:
# 导出为 CSV 文件
data_merged.to_csv('data/UER_index_2006.csv', index=False)

# 熵权法

In [ ]:
#标准化

In [24]:
# Initialize a column for the normalized values
data_merged['X1_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res1'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X1_max = year_data[column_to_normalize].max()
    X1_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X1_star'] = (X1_max - year_data[column_to_normalize]) / (X1_max - X1_min)


# Initialize a column for the normalized values
data_merged['X2_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res2'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X2_max = year_data[column_to_normalize].max()
    X2_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X2_star'] = (X2_max - year_data[column_to_normalize]) / (X2_max - X2_min)

data_merged['X3_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada1'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X3_max = year_data[column_to_normalize].max()
    X3_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X3_star'] = (year_data[column_to_normalize] - X3_min) / (X3_max - X3_min)

data_merged['X4_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada2'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X4_max = year_data[column_to_normalize].max()
    X4_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X4_star'] = (year_data[column_to_normalize] - X4_min) / (X4_max - X4_min)

data_merged['X5_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec1'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X5_max = year_data[column_to_normalize].max()
    X5_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X5_star'] = (year_data[column_to_normalize] - X5_min) / (X5_max - X5_min)

data_merged['X6_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec2'
# Iterate over each year to perform the normalization
for year in range(2006, 2007):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X6_max = year_data[column_to_normalize].max()
    X6_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X6_star'] = (year_data[column_to_normalize] - X6_min) / (X6_max - X6_min)

/tmp/ipykernel_25928/3057296499.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X1_star'] = pd.Series(dtype='float')
/tmp/ipykernel_25928/3057296499.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X2_star'] = pd.Series(dtype='float')
/tmp/ipykernel_25928/3057296499.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X3_star'] = pd.Series(dtype='float')
/tmp/ipykernel_25928/3057296499.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X4_star'] = pd.Series(dtype='float')
/tmp/ipykernel_25928/3057296499.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X5_star'] = pd.Series(dtype='float')
/tmp/ipykernel_25928/3057296499.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X6_star'] = pd.Series(dtype='float')

In [25]:
data_merged

,Name_of_Regions,citycode,Year,Res1,Res2,Ada1,Ada2,Rec1,Rec2,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star
1,Beijing,110000.0,2006,0.000129,0.000186,80.79,74.57,44.34,10.68,0.991098,0.996846,0.598444,0.7457,0.659821,0.347883
2,Tianjin,120000.0,2006,0.000527,0.001535,98.41,85.06,5.55,6.59,0.963686,0.973984,0.728963,0.8506,0.082589,0.214658
4,Shijiazhuang,130100.0,2006,0.001194,0.004276,95.84,100.00,36.15,8.24,0.917751,0.927530,0.709926,1.0000,0.537946,0.268404
5,Tangshan,130200.0,2006,0.001216,0.006072,61.64,98.90,42.17,8.95,0.916259,0.897091,0.456593,0.9890,0.627530,0.291531
6,Qinhuangdao,130300.0,2006,0.000998,0.002851,91.94,100.00,42.70,8.29,0.931265,0.951682,0.681037,1.0000,0.635417,0.270033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,Guyuan,640400.0,2006,0.000481,0.003177,95.29,95.80,22.50,9.26,0.966833,0.946152,0.705852,0.9580,0.334821,0.301629
316,Zhongwei,640500.0,2006,0.005585,0.037887,70.00,96.70,28.74,22.67,0.615245,0.357940,0.518519,0.9670,0.427679,0.738436
317,Xinjiang,650000.0,2006,0.000222,0.001688,47.93,27.00,30.00,6.96,0.984709,0.971390,0.355037,0.2700,0.446429,0.226710
318,Urumuchi,650100.0,2006,0.000800,0.007193,68.47,65.39,20.99,5.46,0.944912,0.878096,0.507185,0.6539,0.312351,0.177850
319,Kelamayi,650200.0,2006,0.000323,0.000918,48.40,67.70,39.81,8.06,0.977772,0.984445,0.358519,0.6770,0.592411,0.262541

In [26]:
columns_to_keep = ['Name_of_Regions','citycode','Year','X1_star','X2_star','X3_star','X4_star','X5_star','X6_star']
data_process = data_merged[columns_to_keep]

In [27]:
#1.7熵权法

def calculate_entropy(indicator_data):
    # Replace zero values to avoid log(0) and negative infinity in entropy calculation
    indicator_data = indicator_data.replace(0, np.finfo(float).eps)  # Use a small number instead of zero
    p_ij = indicator_data / indicator_data.sum()  # Calculate the proportion p_ij
    K = 1 / np.log(292)  # Calculate the constant K
    e_j = -K * (p_ij * np.log(p_ij)).sum()  # Calculate the entropy e_j
    return e_j

# Initialize an empty list to store DataFrames for each year
dataframes_list = []

# Calculate entropies and weights for each year
for year in range(2006, 2007):
    year_data = data_process[data_process['Year'] == year].copy()
    entropies = year_data[['X1_star', 'X2_star', 'X3_star', 'X4_star','X5_star','X6_star']].apply(calculate_entropy, axis=0)
    weights = (1 - entropies) / (1 - entropies).sum()  # Calculate weights, ensuring they sum up to 1 within the year
    for i, indicator in enumerate(['X1_star', 'X2_star', 'X3_star', 'X4_star','X5_star','X6_star']):
        year_data[indicator + '_weighted'] = year_data[indicator] * weights.values[i]  # Apply weights to the indicators
    dataframes_list.append(year_data)  # Append the yearly data to the list

# Concatenate all DataFrames in the list to create the comprehensive_scores DataFrame
comprehensive_scores = pd.concat(dataframes_list, ignore_index=True)

# Now you should have the comprehensive_scores DataFrame with correctly calculated weights per year

In [28]:
comprehensive_scores

,Name_of_Regions,citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,X2_star_weighted,X3_star_weighted,X4_star_weighted,X5_star_weighted,X6_star_weighted
0,Beijing,110000.0,2006,0.991098,0.996846,0.598444,0.7457,0.659821,0.347883,0.013217,0.026525,0.076863,0.386861,0.067745,0.073110
1,Tianjin,120000.0,2006,0.963686,0.973984,0.728963,0.8506,0.082589,0.214658,0.012851,0.025917,0.093626,0.441282,0.008480,0.045112
2,Shijiazhuang,130100.0,2006,0.917751,0.927530,0.709926,1.0000,0.537946,0.268404,0.012239,0.024680,0.091181,0.518790,0.055232,0.056407
3,Tangshan,130200.0,2006,0.916259,0.897091,0.456593,0.9890,0.627530,0.291531,0.012219,0.023870,0.058644,0.513083,0.064430,0.061267
4,Qinhuangdao,130300.0,2006,0.931265,0.951682,0.681037,1.0000,0.635417,0.270033,0.012419,0.025323,0.087471,0.518790,0.065239,0.056749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,Guyuan,640400.0,2006,0.966833,0.946152,0.705852,0.9580,0.334821,0.301629,0.012893,0.025176,0.090658,0.497000,0.034377,0.063389
288,Zhongwei,640500.0,2006,0.615245,0.357940,0.518519,0.9670,0.427679,0.738436,0.008205,0.009524,0.066597,0.501670,0.043910,0.155188
289,Xinjiang,650000.0,2006,0.984709,0.971390,0.355037,0.2700,0.446429,0.226710,0.013132,0.025848,0.045600,0.140073,0.045836,0.047645
290,Urumuchi,650100.0,2006,0.944912,0.878096,0.507185,0.6539,0.312351,0.177850,0.012601,0.023365,0.065142,0.339237,0.032070,0.037376
291,Kelamayi,650200.0,2006,0.977772,0.984445,0.358519,0.6770,0.592411,0.262541,0.013039,0.026195,0.046047,0.351221,0.060824,0.055175

In [29]:
# Calculate the combined weighted values for Resistance, Adaptability, and Recovery
comprehensive_scores['RES'] = comprehensive_scores['X1_star_weighted'] + comprehensive_scores['X2_star_weighted']
comprehensive_scores['ADA'] = comprehensive_scores['X3_star_weighted'] + comprehensive_scores['X4_star_weighted']
#comprehensive_scores['ADA'] = comprehensive_scores['X2_star_weighted'] 
comprehensive_scores['REC'] = comprehensive_scores['X5_star_weighted'] + comprehensive_scores['X6_star_weighted']

# Assuming data_merged is the DataFrame with the standardized 'RES', 'ADA', and 'REC' columns.

# Define a small positive value to add to REC to avoid zero values
small_positive_value = 1e-6

# Replace zero values in REC with the small positive value
comprehensive_scores['REC_adj'] = comprehensive_scores['REC'].replace(0, small_positive_value)
comprehensive_scores['ADA_adj'] = comprehensive_scores['ADA'].replace(0, small_positive_value)
comprehensive_scores['RES_adj'] = comprehensive_scores['RES'].replace(0, small_positive_value)

# Now, the UER values should not be zero due to REC being zero, since we have adjusted REC values slightly above zero.

# Calculate the Urban Ecological Resilience (UER) for each borough and year
comprehensive_scores['UER'] = (comprehensive_scores['RES_adj'] * comprehensive_scores['ADA_adj'] * comprehensive_scores['REC_adj']) ** (1/3)

# Check the result
comprehensive_scores[['Year', 'Name_of_Regions', 'RES', 'ADA', 'REC', 'UER']].head()

   Year Name_of_Regions       RES       ADA       REC       UER
0  2006         Beijing  0.039742  0.463724  0.140855  0.137433
1  2006         Tianjin  0.038768  0.534909  0.053591  0.103581
2  2006    Shijiazhuang  0.036919  0.609971  0.111639  0.135975
3  2006        Tangshan  0.036089  0.571727  0.125697  0.137393
4  2006     Qinhuangdao  0.037742  0.606260  0.121988  0.140799

In [30]:
comprehensive_scores

,Name_of_Regions,citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,...,X4_star_weighted,X5_star_weighted,X6_star_weighted,RES,ADA,REC,REC_adj,ADA_adj,RES_adj,UER
0,Beijing,110000.0,2006,0.991098,0.996846,0.598444,0.7457,0.659821,0.347883,0.013217,...,0.386861,0.067745,0.073110,0.039742,0.463724,0.140855,0.140855,0.463724,0.039742,0.137433
1,Tianjin,120000.0,2006,0.963686,0.973984,0.728963,0.8506,0.082589,0.214658,0.012851,...,0.441282,0.008480,0.045112,0.038768,0.534909,0.053591,0.053591,0.534909,0.038768,0.103581
2,Shijiazhuang,130100.0,2006,0.917751,0.927530,0.709926,1.0000,0.537946,0.268404,0.012239,...,0.518790,0.055232,0.056407,0.036919,0.609971,0.111639,0.111639,0.609971,0.036919,0.135975
3,Tangshan,130200.0,2006,0.916259,0.897091,0.456593,0.9890,0.627530,0.291531,0.012219,...,0.513083,0.064430,0.061267,0.036089,0.571727,0.125697,0.125697,0.571727,0.036089,0.137393
4,Qinhuangdao,130300.0,2006,0.931265,0.951682,0.681037,1.0000,0.635417,0.270033,0.012419,...,0.518790,0.065239,0.056749,0.037742,0.606260,0.121988,0.121988,0.606260,0.037742,0.140799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,Guyuan,640400.0,2006,0.966833,0.946152,0.705852,0.9580,0.334821,0.301629,0.012893,...,0.497000,0.034377,0.063389,0.038069,0.587658,0.097766,0.097766,0.587658,0.038069,0.129806
288,Zhongwei,640500.0,2006,0.615245,0.357940,0.518519,0.9670,0.427679,0.738436,0.008205,...,0.501670,0.043910,0.155188,0.017729,0.568267,0.199098,0.199098,0.568267,0.017729,0.126115
289,Xinjiang,650000.0,2006,0.984709,0.971390,0.355037,0.2700,0.446429,0.226710,0.013132,...,0.140073,0.045836,0.047645,0.038979,0.185673,0.093480,0.093480,0.185673,0.038979,0.087788
290,Urumuchi,650100.0,2006,0.944912,0.878096,0.507185,0.6539,0.312351,0.177850,0.012601,...,0.339237,0.032070,0.037376,0.035966,0.404378,0.069446,0.069446,0.404378,0.035966,0.100333
291,Kelamayi,650200.0,2006,0.977772,0.984445,0.358519,0.6770,0.592411,0.262541,0.013039,...,0.351221,0.060824,0.055175,0.039234,0.397268,0.115999,0.115999,0.397268,0.039234,0.121824

In [31]:
comprehensive_scores['UER'].describe()

count    292.000000
mean       0.108456
std        0.033276
min        0.000034
25%        0.085838
50%        0.115170
75%        0.134249
max        0.195732
Name: UER, dtype: float64

In [32]:
top_10_ui = comprehensive_scores.nlargest(10, 'UER')
top_10_ui

,Name_of_Regions,citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,...,X4_star_weighted,X5_star_weighted,X6_star_weighted,RES,ADA,REC,REC_adj,ADA_adj,RES_adj,UER
226,Sanya,460200.0,2006,0.981589,0.997348,0.670370,1.0000,1.000000,1.000000,0.013090,...,0.518790,0.102672,0.210157,0.039628,0.604890,0.312829,0.312829,0.604890,0.039628,0.195732
138,Weihai,371000.0,2006,0.985648,0.986635,0.666667,1.0000,0.687054,0.765798,0.013144,...,0.518790,0.070541,0.160938,0.039397,0.604415,0.231479,0.231479,0.604415,0.039397,0.176646
139,Rizhao,371100.0,2006,0.907885,0.988697,0.727704,0.9167,0.630357,0.591205,0.012107,...,0.475574,0.064720,0.124246,0.038415,0.569039,0.188966,0.188966,0.569039,0.038415,0.160451
191,Shenzhen,440300.0,2006,0.992540,0.998831,0.650148,0.9307,0.669494,0.524430,0.013236,...,0.482837,0.068738,0.110213,0.039814,0.566341,0.178951,0.178951,0.566341,0.039814,0.159202
135,Weifang,370700.0,2006,0.948982,0.979855,0.692593,0.9860,0.535417,0.543322,0.012655,...,0.511527,0.054972,0.114183,0.038728,0.600481,0.169155,0.169155,0.600481,0.038728,0.157859
77,Yangzhou,321000.0,2006,0.921137,0.975280,0.616296,1.0000,0.601339,0.516938,0.012284,...,0.518790,0.061741,0.108638,0.038235,0.597945,0.170379,0.170379,0.597945,0.038235,0.157342
156,Luohe,411100.0,2006,0.882645,0.918742,0.740741,1.0000,0.608036,0.519218,0.011770,...,0.518790,0.062428,0.109117,0.036217,0.613929,0.171545,0.171545,0.613929,0.036217,0.156244
133,Dongying,370500.0,2006,0.957472,0.978750,0.672815,0.9463,0.583333,0.520195,0.012768,...,0.490931,0.059892,0.109323,0.038812,0.577345,0.169214,0.169214,0.577345,0.038812,0.155936
137,Taian,370900.0,2006,0.975899,0.961239,0.693630,0.9850,0.603125,0.474267,0.013014,...,0.511008,0.061924,0.099670,0.038591,0.600096,0.161594,0.161594,0.600096,0.038591,0.155255
86,Shaoxing,330600.0,2006,0.885565,0.976826,0.542815,1.0000,0.681548,0.442671,0.011809,...,0.518790,0.069976,0.093030,0.037802,0.588507,0.163006,0.163006,0.588507,0.037802,0.153634

In [36]:
# 求D列的最大值
max_UER = comprehensive_scores['UER'].max()
print(f"The maximum value of UI is: {max_UER}")

The maximum value of UI is: 0.17184989993622027

In [40]:
rows_with_nan = comprehensive_scores[comprehensive_scores.isna().any(axis=1)]
rows_with_nan

,Name_of_Regions,citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,...,X4_star_weighted,X5_star_weighted,X6_star_weighted,RES,ADA,REC,REC_adj,ADA_adj,RES_adj,UER
104,Chaohu,NaN,2006.0,0.947731,0.911108,0.433630,0.2500,0.426935,0.024743,0.008074,...,0.082857,0.028003,0.012258,0.023562,0.118437,0.040261,0.040261,0.118437,0.023562,0.048254
140,Iaiwu,NaN,2006.0,0.967133,0.848954,0.597333,0.9012,0.525446,0.038225,0.008239,...,0.298683,0.034465,0.018937,0.022671,0.347696,0.053402,0.053402,0.347696,0.022671,0.074945

In [33]:
# 导出comprehensive_scores数据框为Excel文件
output_excel_path = 'data/test_2006_UER.xlsx'
comprehensive_scores.to_excel(output_excel_path, index=False)