In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt

In [2]:
file_path = 'data/2022_UI_UER.xlsx'
df = pd.read_excel(file_path)

In [3]:
df

,Name_of_Regions,Unnamed: 1,Year,Unnamed: 3,UrbanPopulation,UrbanTemporaryPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),...,Unnamed: 26,Unnamed: 27,城市,Unnamed: 29,Unnamed: 30,CITY,Greening_coverage_in_builtup_areas,Unnamed: 33,Unnamed: 34,NameofCities
0,北京,Beijing,NaN,北京,1912.80,0.00,1469.05,8.04,16.63,100.0,...,北京,NaN,北京市,NaN,NaN,北京市,49.77,北京市,NaN,北京
1,天津,Tianjin,NaN,天津,1160.07,0.00,1264.46,16.11,9.98,100.0,...,天津,NaN,天津市,NaN,NaN,天津市,38.41,天津市,NaN,天津
2,河北,Hebei,NaN,河北,1816.65,187.78,2266.96,21.20,15.35,100.0,...,NaN,NaN,河北省,NaN,NaN,NaN,NaN,NaN,NaN,河北
3,石家庄,Shijiazhuang,NaN,石家庄,349.41,5.44,334.52,17.06,14.59,100.0,...,石家庄,NaN,石家庄市,NaN,NaN,石家庄市,41.33,石家庄市,NaN,石家庄
4,唐山,Tangshan,NaN,唐山,195.67,10.07,249.50,20.76,16.69,100.0,...,唐山,NaN,唐山市,NaN,NaN,唐山市,43.97,唐山市,NaN,唐山
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,固原,Guyuan,NaN,固原,20.21,6.51,45.06,30.96,32.10,100.0,...,固原,NaN,固原市,NaN,NaN,固原市,41.99,固原市,NaN,固原
315,中卫,Zhongwei,NaN,中卫,15.42,1.39,30.86,34.87,23.68,100.0,...,中卫,NaN,中卫市,NaN,NaN,中卫市,43.99,中卫市,NaN,中卫
316,新疆,xinjiang,NaN,新疆,597.22,259.11,1428.05,22.51,14.93,100.0,...,NaN,NaN,新疆维吾尔自治区,NaN,NaN,NaN,41.17,NaN,NaN,新疆
317,乌鲁木齐,Urumuchi,NaN,乌鲁木齐,234.21,149.56,545.10,15.68,13.17,100.0,...,乌鲁木齐,NaN,乌鲁木齐市,NaN,NaN,乌鲁木齐市,39.73,乌鲁木齐市,NaN,乌鲁木齐
318,克拉玛依,Kelamayi,NaN,克拉玛依,31.97,14.60,79.42,37.18,14.26,100.0,...,克拉玛依,NaN,克拉玛依市,NaN,NaN,克拉玛依市,43.94,克拉玛依市,NaN,克拉玛依

In [4]:
# 指定需要检查 NaN 值的列
columns_to_check = [
    'Population_urbanization', 
    'First_sector_of_GDP', 
    'GDP', 
    'Citycode', 
    'Area_of_administrative_districts'
]

# 查找这些列中包含 NaN 值的行
rows_with_nan = df[df[columns_to_check].isna().any(axis=1)]

# 输出包含 NaN 值的行
print(rows_with_nan)

    Name_of_Regions     Unnamed: 1  Year Unnamed: 3  UrbanPopulation  \
2                河北          Hebei   NaN         河北          1816.65
14               山西         Shanxi   NaN         山西          1097.11
26              内蒙古  InnerMongolia   NaN        内蒙古           681.97
36               辽宁       Liaoning   NaN         辽宁          2040.68
51               吉林          Jilin   NaN         吉林           970.92
60              黑龙江   Heilongjiang   NaN        黑龙江          1198.93
74               江苏        Jiangsu   NaN         江苏          3129.19
88               浙江       Zhejiang   NaN         浙江          2186.38
100              安徽          Anhui   NaN         安徽          1390.05
113              巢湖         Chaohu   NaN        NaN              NaN
118              福建         Fujian   NaN         福建          1108.23
128              江西        Jiangxi   NaN         江西          1088.28
140              山东       Shandong   NaN         山东          3513.75
152              莱芜          Iaiwu   NaN         莱芜              NaN
158              河南          Henan   NaN         河南          2386.06
176              济源         Jiyuan   NaN        NaN              NaN
177              湖北          Hubei   NaN         湖北          1938.93
190              湖南          Hunan   NaN         湖南          1697.15
204              广东      Guangdong   NaN         广东          5649.90
226              广西        Guangxi   NaN         广西          1027.98
242              海口         Haikou   NaN         海口           131.00
244              儋州        Danzhou   NaN         儋州            14.01
246              四川        Sichuan   NaN         四川          2369.47
265              贵州        Guizhou   NaN         贵州           708.30
272              云南          Yunan   NaN         云南           948.45
283             日喀则         Rikaze   NaN        日喀则             7.00
284              陕西        Shaanxi   NaN         陕西          1270.49
295              甘肃          Gansu   NaN         甘肃           534.05
310              宁夏        Ningxia   NaN         宁夏           256.81

     UrbanTemporaryPopulation  Surface_Area_of_Built_District  \
2                      187.78                         2266.96
14                     182.96                         1295.08
26                     253.79                         1272.80
36                     301.56                         2815.03
51                     228.71                         1580.00
60                     177.75                         1802.55
74                     577.07                         4916.17
88                    1067.85                         3426.99
100                    565.36                         2500.28
113                       NaN                             NaN
118                    402.34                         1877.45
128                    129.03                         1789.49
140                    642.96                         5712.99
152                       NaN                             NaN
158                    473.72                         3521.11
176                       NaN                             NaN
177                    495.05                         2866.18
190                    241.81                         2104.99
204                    953.96                         6575.31
226                    306.09                         1809.48
242                     78.92                          215.80
244                      5.01                           36.32
246                    826.65                         3411.76
265                    203.16                         1194.80
272                    129.39                         1287.83
283                      4.68                           28.60
284                    166.75                         1553.51
295                    149.39                          968.07
310                     39.31                          485.66

     Road_Surface_Area_Per_Capita_m2  Parkland_per_capita  \
2                              21.20                15.35
14                             18.71                13.72
26                             24.57                19.47
36                             19.37                13.39
51                             17.15                14.45
60                             16.63                14.04
74                             25.66                16.02
88                             19.60                13.79
100                            24.57                16.98
113                            44.40                16.24
118                            21.96                15.28
128                            25.92                17.01
140                            26.45                18.18
152                              NaN                  NaN
158                            16.86                15.60
176                              NaN                  NaN
177                            19.67                15.38
190                            20.35                13.06
204                            15.02                17.95
226                            24.40                11.67
242                            22.74                12.02
244                            28.60                14.11
246                            18.28                13.99
265                            26.69                16.41
272                            17.40                13.94
283                            21.19                16.18
284                            18.11                13.15
295                            22.21                16.36
310                            28.00                22.84

     Rate_of_non_hazardous_treatment_of_domestic_waste(%)  ... Unnamed: 26  \
2                                               100.00     ...         NaN
14                                              100.00     ...         NaN
26                                               99.99     ...         NaN
36                                               99.58     ...         NaN
51                                              100.00     ...         NaN
60                                              100.00     ...         NaN
74                                              100.00     ...         NaN
88                                              100.00     ...         NaN
100                                             100.00     ...         NaN
113                                             100.00     ...          巢湖
118                                             100.00     ...         NaN
128                                             100.00     ...         NaN
140                                             100.00     ...         NaN
152                                                NaN     ...          莱芜
158                                              99.68     ...         NaN
176                                                NaN     ...         NaN
177                                             100.00     ...         NaN
190                                             100.00     ...         NaN
204                                              99.95     ...         NaN
226                                             100.00     ...         NaN
242                                             100.00     ...          海口
244                                             100.00     ...         NaN
246                                              99.98     ...         NaN
265                                              99.88     ...         NaN
272                                              99.87     ...         NaN
283                                             100.00     ...         NaN
284                                             100.00     ...         NaN
295                                             100.00     ...         NaN
310                                             100.00     ...         NaN

     Unnamed: 27       城市  Unnamed: 29  Unnamed: 30  CITY  \
2            NaN      河北省          NaN          NaN   NaN
14           NaN      山西省          NaN          NaN   NaN
26           NaN   内蒙古自治区          NaN          NaN   NaN
36           NaN      辽宁省          NaN          NaN   NaN
51           NaN      吉林省          NaN          NaN   NaN
60           NaN     黑龙江省          NaN          NaN   NaN
74           NaN      江苏省          NaN          NaN   NaN
88           NaN      浙江省          NaN          NaN   NaN
100          NaN      安徽省          NaN          NaN   NaN
113          NaN      巢湖市          NaN          NaN   NaN
118          NaN      福建省          NaN          NaN   NaN
128          NaN      江西省          NaN          NaN   NaN
140          NaN      山东省          NaN          NaN   NaN
152          NaN      莱芜市          NaN          NaN   NaN
158          NaN      河南省          NaN          NaN   NaN
176          NaN      NaN          NaN          NaN   NaN
177          NaN      湖北省          NaN          NaN   NaN
190          NaN      湖南省          NaN          NaN   NaN
204          NaN      广东省          NaN          NaN   NaN
226          NaN  广西壮族自治区          NaN          NaN   NaN
242          NaN      海口市          NaN          NaN   海口市
244          NaN      NaN          NaN          NaN   NaN
246          NaN      四川省          NaN          NaN   NaN
265          NaN      贵州省          NaN          NaN   NaN
272          NaN      云南省          NaN          NaN   NaN
283          NaN      NaN          NaN          NaN   NaN
284          NaN      陕西省          NaN          NaN   NaN
295          NaN      甘肃省          NaN          NaN   NaN
310          NaN  宁夏回族自治区          NaN          NaN   NaN

     Greening_coverage_in_builtup_areas  Unnamed: 33  Unnamed: 34 NameofCities
2                                   NaN          NaN          NaN           河北
14                                  NaN          NaN          NaN           山西
26                                  NaN          NaN          NaN          内蒙古
36                                  NaN          NaN          NaN           辽宁
51                                  NaN          NaN          NaN           吉林
60                                  NaN          NaN          NaN          黑龙江
74                                  NaN          NaN          NaN           江苏
88                                  NaN          NaN          NaN           浙江
100                                 NaN          NaN          NaN           安徽
113                                 NaN          NaN          NaN          NaN
118                                 NaN          NaN          NaN          NaN
128                                 NaN          NaN          NaN          NaN
140                                 NaN          NaN          NaN          NaN
152                                 NaN          NaN          NaN          NaN
158                                 NaN          NaN          NaN          NaN
176                                 NaN          NaN          NaN          NaN
177                                 NaN          NaN          NaN          NaN
190                                 NaN          NaN          NaN          NaN
204                                 NaN          NaN          NaN           广东
226                                 NaN          NaN          NaN          NaN
242                               43.09          海口市          NaN           海口
244                                 NaN          NaN          NaN          NaN
246                                 NaN          NaN          NaN          NaN
265                                 NaN          NaN          NaN          NaN
272                                 NaN          NaN          NaN          NaN
283                                 NaN          NaN          NaN          NaN
284                                 NaN          NaN          NaN          NaN
295                                 NaN          NaN          NaN          NaN
310                                 NaN          NaN          NaN          NaN

[29 rows x 36 columns]

In [5]:
# 去除指定列中包含NaN值的行
columns_to_check = [ 
    'Population_urbanization', 
    'First_sector_of_GDP', 
    'GDP', 
    'Citycode', 
    'Area_of_administrative_districts'
]
df_cleaned = df.dropna(subset=columns_to_check)

In [6]:
df_cleaned

,Name_of_Regions,Unnamed: 1,Year,Unnamed: 3,UrbanPopulation,UrbanTemporaryPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),...,Unnamed: 26,Unnamed: 27,城市,Unnamed: 29,Unnamed: 30,CITY,Greening_coverage_in_builtup_areas,Unnamed: 33,Unnamed: 34,NameofCities
0,北京,Beijing,NaN,北京,1912.80,0.00,1469.05,8.04,16.63,100.0,...,北京,NaN,北京市,NaN,NaN,北京市,49.77,北京市,NaN,北京
1,天津,Tianjin,NaN,天津,1160.07,0.00,1264.46,16.11,9.98,100.0,...,天津,NaN,天津市,NaN,NaN,天津市,38.41,天津市,NaN,天津
3,石家庄,Shijiazhuang,NaN,石家庄,349.41,5.44,334.52,17.06,14.59,100.0,...,石家庄,NaN,石家庄市,NaN,NaN,石家庄市,41.33,石家庄市,NaN,石家庄
4,唐山,Tangshan,NaN,唐山,195.67,10.07,249.50,20.76,16.69,100.0,...,唐山,NaN,唐山市,NaN,NaN,唐山市,43.97,唐山市,NaN,唐山
5,秦皇岛,Qinhuangdao,NaN,秦皇岛,106.55,32.30,149.81,18.16,17.25,100.0,...,秦皇岛,NaN,秦皇岛市,NaN,NaN,秦皇岛市,40.75,秦皇岛市,NaN,秦皇岛
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,固原,Guyuan,NaN,固原,20.21,6.51,45.06,30.96,32.10,100.0,...,固原,NaN,固原市,NaN,NaN,固原市,41.99,固原市,NaN,固原
315,中卫,Zhongwei,NaN,中卫,15.42,1.39,30.86,34.87,23.68,100.0,...,中卫,NaN,中卫市,NaN,NaN,中卫市,43.99,中卫市,NaN,中卫
316,新疆,xinjiang,NaN,新疆,597.22,259.11,1428.05,22.51,14.93,100.0,...,NaN,NaN,新疆维吾尔自治区,NaN,NaN,NaN,41.17,NaN,NaN,新疆
317,乌鲁木齐,Urumuchi,NaN,乌鲁木齐,234.21,149.56,545.10,15.68,13.17,100.0,...,乌鲁木齐,NaN,乌鲁木齐市,NaN,NaN,乌鲁木齐市,39.73,乌鲁木齐市,NaN,乌鲁木齐
318,克拉玛依,Kelamayi,NaN,克拉玛依,31.97,14.60,79.42,37.18,14.26,100.0,...,克拉玛依,NaN,克拉玛依市,NaN,NaN,克拉玛依市,43.94,克拉玛依市,NaN,克拉玛依

In [7]:
# 指定需要检查NaN值的列
columns_to_check = [
    'UrbanPopulation',
    'UrbanTemporaryPopulation', 
    'Population_urbanization', 
    'First_sector_of_GDP', 
    'GDP', 
    'Citycode', 
    'Area_of_administrative_districts',
    'Road_Surface_Area_Per_Capita_m2',
    'Surface_Area_of_Built_District'
]

# 将这些列转换为数值类型，处理非数值内容
for column in columns_to_check:
    df_cleaned[column] = pd.to_numeric(df_cleaned[column], errors='coerce')

/tmp/ipykernel_5940/1195776530.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[column] = pd.to_numeric(df_cleaned[column], errors='coerce')

In [8]:
df_cleaned['UrbanTemporaryPopulation'] = df_cleaned['UrbanTemporaryPopulation'].fillna(0)

/tmp/ipykernel_5940/1004577029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['UrbanTemporaryPopulation'] = df_cleaned['UrbanTemporaryPopulation'].fillna(0)

In [9]:
df_cleaned['PUI'] = (df_cleaned['Population_urbanization'])

/tmp/ipykernel_5940/629985429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['PUI'] = (df_cleaned['Population_urbanization'])

In [10]:
df_cleaned

,Name_of_Regions,Unnamed: 1,Year,Unnamed: 3,UrbanPopulation,UrbanTemporaryPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),...,Unnamed: 27,城市,Unnamed: 29,Unnamed: 30,CITY,Greening_coverage_in_builtup_areas,Unnamed: 33,Unnamed: 34,NameofCities,PUI
0,北京,Beijing,NaN,北京,1912.80,0.00,1469.05,8.04,16.63,100.0,...,NaN,北京市,NaN,NaN,北京市,49.77,北京市,NaN,北京,0.8757
1,天津,Tianjin,NaN,天津,1160.07,0.00,1264.46,16.11,9.98,100.0,...,NaN,天津市,NaN,NaN,天津市,38.41,天津市,NaN,天津,0.8511
3,石家庄,Shijiazhuang,NaN,石家庄,349.41,5.44,334.52,17.06,14.59,100.0,...,NaN,石家庄市,NaN,NaN,石家庄市,41.33,石家庄市,NaN,石家庄,0.7144
4,唐山,Tangshan,NaN,唐山,195.67,10.07,249.50,20.76,16.69,100.0,...,NaN,唐山市,NaN,NaN,唐山市,43.97,唐山市,NaN,唐山,0.6579
5,秦皇岛,Qinhuangdao,NaN,秦皇岛,106.55,32.30,149.81,18.16,17.25,100.0,...,NaN,秦皇岛市,NaN,NaN,秦皇岛市,40.75,秦皇岛市,NaN,秦皇岛,0.6547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,固原,Guyuan,NaN,固原,20.21,6.51,45.06,30.96,32.10,100.0,...,NaN,固原市,NaN,NaN,固原市,41.99,固原市,NaN,固原,0.4480
315,中卫,Zhongwei,NaN,中卫,15.42,1.39,30.86,34.87,23.68,100.0,...,NaN,中卫市,NaN,NaN,中卫市,43.99,中卫市,NaN,中卫,0.5083
316,新疆,xinjiang,NaN,新疆,597.22,259.11,1428.05,22.51,14.93,100.0,...,NaN,新疆维吾尔自治区,NaN,NaN,NaN,41.17,NaN,NaN,新疆,0.5789
317,乌鲁木齐,Urumuchi,NaN,乌鲁木齐,234.21,149.56,545.10,15.68,13.17,100.0,...,NaN,乌鲁木齐市,NaN,NaN,乌鲁木齐市,39.73,乌鲁木齐市,NaN,乌鲁木齐,0.9650
318,克拉玛依,Kelamayi,NaN,克拉玛依,31.97,14.60,79.42,37.18,14.26,100.0,...,NaN,克拉玛依市,NaN,NaN,克拉玛依市,43.94,克拉玛依市,NaN,克拉玛依,0.9897

In [11]:
df_cleaned['PUI'].describe()

count    290.000000
mean       0.617999
std        0.133140
min        0.339700
25%        0.521600
50%        0.605300
75%        0.699800
max        0.997900
Name: PUI, dtype: float64

In [12]:
# 查找 PUI 列中为空值的行
rows_with_nan_in_pui = df_cleaned[df_cleaned['PUI'].isna()]

# 输出包含 PUI 列为空值的行
print(rows_with_nan_in_pui)

Empty DataFrame
Columns: [Name_of_Regions, Unnamed: 1, Year, Unnamed: 3, UrbanPopulation, UrbanTemporaryPopulation, Surface_Area_of_Built_District, Road_Surface_Area_Per_Capita_m2, Parkland_per_capita, Rate_of_non_hazardous_treatment_of_domestic_waste(%), Unnamed: 10, Population_urbanization, Unnamed: 12, GDP, First_sector_of_GDP, Industrial_wastewater_discharge_(tonnes), Industrial_fume_emissions_(tonnes), Comprehensive_industrial_solid_waste_utilisation_rate(%), Unnamed: 18, Unnamed: 19, Citycode, Area_of_administrative_districts, Unnamed: 22, Unnamed: 23, Unnamed: 24, Unnamed: 25, Unnamed: 26, Unnamed: 27, 城市, Unnamed: 29, Unnamed: 30, CITY, Greening_coverage_in_builtup_areas, Unnamed: 33, Unnamed: 34, NameofCities, PUI]
Index: []

[0 rows x 37 columns]

In [13]:
df_cleaned['URI'] = (df_cleaned['Road_Surface_Area_Per_Capita_m2'] * ((df_cleaned['UrbanPopulation'] + df_cleaned['UrbanTemporaryPopulation'])* 10000) /1000000 ) / df_cleaned['Area_of_administrative_districts']

/tmp/ipykernel_5940/2660692400.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['URI'] = (df_cleaned['Road_Surface_Area_Per_Capita_m2'] * ((df_cleaned['UrbanPopulation'] + df_cleaned['UrbanTemporaryPopulation'])* 10000) /1000000 ) / df_cleaned['Area_of_administrative_districts']

In [14]:
df_cleaned['URI'].describe()

count    290.000000
mean       0.003832
std        0.007371
min        0.000018
25%        0.000664
50%        0.001756
75%        0.004220
max        0.075447
Name: URI, dtype: float64

In [15]:
df_cleaned['LUI'] = (df_cleaned['Surface_Area_of_Built_District']) / df_cleaned['Area_of_administrative_districts']

/tmp/ipykernel_5940/3353621859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['LUI'] = (df_cleaned['Surface_Area_of_Built_District']) / df_cleaned['Area_of_administrative_districts']

In [16]:
df_cleaned['LUI'].describe()

count    290.000000
mean       0.022448
std        0.049001
min        0.000125
25%        0.004235
50%        0.009439
75%        0.023755
max        0.495198
Name: LUI, dtype: float64

In [17]:
df_cleaned['EUI'] = 1 - (df_cleaned['First_sector_of_GDP']) / 100

/tmp/ipykernel_5940/1051056126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['EUI'] = 1 - (df_cleaned['First_sector_of_GDP']) / 100

In [18]:
df_cleaned['EUI'].describe()

count    290.000000
mean       0.880026
std        0.081853
min        0.524700
25%        0.834075
50%        0.895450
75%        0.936850
max        0.999200
Name: EUI, dtype: float64

In [19]:
df_cleaned['EAL'] = df_cleaned['GDP'] / df_cleaned['Area_of_administrative_districts']

/tmp/ipykernel_5940/3615482750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['EAL'] = df_cleaned['GDP'] / df_cleaned['Area_of_administrative_districts']

In [20]:
df_cleaned['EAL'].describe()

count       290.000000
mean       4973.512607
std       12012.415154
min          17.740871
25%         857.250086
50%        2092.965438
75%        4475.359297
max      166690.684508
Name: EAL, dtype: float64

In [21]:
df_cleaned

,Name_of_Regions,Unnamed: 1,Year,Unnamed: 3,UrbanPopulation,UrbanTemporaryPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),...,CITY,Greening_coverage_in_builtup_areas,Unnamed: 33,Unnamed: 34,NameofCities,PUI,URI,LUI,EUI,EAL
0,北京,Beijing,NaN,北京,1912.80,0.00,1469.05,8.04,16.63,100.0,...,北京市,49.77,北京市,NaN,北京,0.8757,0.009375,0.089549,0.9973,25364.827796
1,天津,Tianjin,NaN,天津,1160.07,0.00,1264.46,16.11,9.98,100.0,...,天津市,38.41,天津市,NaN,天津,0.8511,0.015673,0.106043,0.9833,13679.134519
3,石家庄,Shijiazhuang,NaN,石家庄,349.41,5.44,334.52,17.06,14.59,100.0,...,石家庄市,41.33,石家庄市,NaN,石家庄,0.7144,0.004306,0.023796,0.9214,5051.216389
4,唐山,Tangshan,NaN,唐山,195.67,10.07,249.50,20.76,16.69,100.0,...,唐山市,43.97,唐山市,NaN,唐山,0.6579,0.003093,0.018069,0.9283,6446.263036
5,秦皇岛,Qinhuangdao,NaN,秦皇岛,106.55,32.30,149.81,18.16,17.25,100.0,...,秦皇岛市,40.75,秦皇岛市,NaN,秦皇岛,0.6547,0.003236,0.019226,0.8679,2451.232033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,固原,Guyuan,NaN,固原,20.21,6.51,45.06,30.96,32.10,100.0,...,固原市,41.99,固原市,NaN,固原,0.4480,0.000786,0.004282,0.8174,389.585709
315,中卫,Zhongwei,NaN,中卫,15.42,1.39,30.86,34.87,23.68,100.0,...,中卫市,43.99,中卫市,NaN,中卫,0.5083,0.000429,0.002259,0.8585,412.914562
316,新疆,xinjiang,NaN,新疆,597.22,259.11,1428.05,22.51,14.93,100.0,...,NaN,41.17,NaN,NaN,新疆,0.5789,0.000118,0.000876,0.8590,108.803216
317,乌鲁木齐,Urumuchi,NaN,乌鲁木齐,234.21,149.56,545.10,15.68,13.17,100.0,...,乌鲁木齐市,39.73,乌鲁木齐市,NaN,乌鲁木齐,0.9650,0.004363,0.039520,0.9920,2822.446168
318,克拉玛依,Kelamayi,NaN,克拉玛依,31.97,14.60,79.42,37.18,14.26,100.0,...,克拉玛依市,43.94,克拉玛依市,NaN,克拉玛依,0.9897,0.002348,0.010770,0.9844,1611.065907

In [22]:
# 导入 land_use_intensity_by_city2006.csv 数据
df_land_use = pd.read_csv("data/land_use_intensity_by_city2022.csv", encoding='ISO-8859-1')
df_land_useProvince = pd.read_csv("data/land_use_intensity_by_province2022.csv", encoding='ISO-8859-1')
df_combined = pd.concat([df_land_use, df_land_useProvince], ignore_index=True)

In [23]:
df_combined

     Citycode  Provincecode        Province            City         LUL
0    110000.0      110000.0          ±±¾©ÊÐ          ±±¾©ÊÐ  268.575017
1    120000.0      120000.0          Ìì½òÊÐ          Ìì½òÊÐ  323.775440
2    130100.0      130000.0          ºÓ±±Ê¡        Ê¯¼Ò×¯ÊÐ  291.100760
3    130200.0      130000.0          ºÓ±±Ê¡          ÌÆÉ½ÊÐ  311.211194
4    130300.0      130000.0          ºÓ±±Ê¡        ÇØ»ÊµºÊÐ  267.822668
..        ...           ...             ...             ...         ...
369  820000.0      820000.0  °ÄÃÅÌØ±ðÐÐÕþÇø  °ÄÃÅÌØ±ðÐÐÕþÇø  338.145439
370  460000.0           NaN          hainan             NaN  235.435064
371  630000.0           NaN         qinghai             NaN  139.046247
372  650000.0           NaN        xinjiang             NaN   66.331128
373  540000.0           NaN          xizang             NaN  171.344760

[374 rows x 5 columns]

In [24]:
df_merged = df_cleaned.merge(df_combined[['Citycode', 'LUL']], on='Citycode', how='left')

In [25]:
df_merged

,Name_of_Regions,Unnamed: 1,Year,Unnamed: 3,UrbanPopulation,UrbanTemporaryPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),...,Greening_coverage_in_builtup_areas,Unnamed: 33,Unnamed: 34,NameofCities,PUI,URI,LUI,EUI,EAL,LUL
0,北京,Beijing,NaN,北京,1912.80,0.00,1469.05,8.04,16.63,100.0,...,49.77,北京市,NaN,北京,0.8757,0.009375,0.089549,0.9973,25364.827796,268.575017
1,天津,Tianjin,NaN,天津,1160.07,0.00,1264.46,16.11,9.98,100.0,...,38.41,天津市,NaN,天津,0.8511,0.015673,0.106043,0.9833,13679.134519,323.775440
2,石家庄,Shijiazhuang,NaN,石家庄,349.41,5.44,334.52,17.06,14.59,100.0,...,41.33,石家庄市,NaN,石家庄,0.7144,0.004306,0.023796,0.9214,5051.216389,291.100760
3,唐山,Tangshan,NaN,唐山,195.67,10.07,249.50,20.76,16.69,100.0,...,43.97,唐山市,NaN,唐山,0.6579,0.003093,0.018069,0.9283,6446.263036,311.211194
4,秦皇岛,Qinhuangdao,NaN,秦皇岛,106.55,32.30,149.81,18.16,17.25,100.0,...,40.75,秦皇岛市,NaN,秦皇岛,0.6547,0.003236,0.019226,0.8679,2451.232033,267.822668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,固原,Guyuan,NaN,固原,20.21,6.51,45.06,30.96,32.10,100.0,...,41.99,固原市,NaN,固原,0.4480,0.000786,0.004282,0.8174,389.585709,232.605304
286,中卫,Zhongwei,NaN,中卫,15.42,1.39,30.86,34.87,23.68,100.0,...,43.99,中卫市,NaN,中卫,0.5083,0.000429,0.002259,0.8585,412.914562,207.871637
287,新疆,xinjiang,NaN,新疆,597.22,259.11,1428.05,22.51,14.93,100.0,...,41.17,NaN,NaN,新疆,0.5789,0.000118,0.000876,0.8590,108.803216,66.331128
288,乌鲁木齐,Urumuchi,NaN,乌鲁木齐,234.21,149.56,545.10,15.68,13.17,100.0,...,39.73,乌鲁木齐市,NaN,乌鲁木齐,0.9650,0.004363,0.039520,0.9920,2822.446168,130.022680
289,克拉玛依,Kelamayi,NaN,克拉玛依,31.97,14.60,79.42,37.18,14.26,100.0,...,43.94,克拉玛依市,NaN,克拉玛依,0.9897,0.002348,0.010770,0.9844,1611.065907,69.553037

In [26]:
df_merged['LUL'].describe()

count    290.000000
mean     255.523288
std       46.246442
min       30.445692
25%      231.013110
50%      252.590878
75%      292.621991
max      327.357430
Name: LUL, dtype: float64

In [27]:
# 指定需要检查 NaN 值的列
columns_to_check = ['URI', 'LUI', 'EUI', 'EAL', 'LUL']

# 查找这些列中包含 NaN 值的行
rows_with_nan = df_merged[df_merged[columns_to_check].isna().any(axis=1)]

# 输出包含 NaN 值的行
print(rows_with_nan)

Empty DataFrame
Columns: [Name_of_Regions, Unnamed: 1, Year, Unnamed: 3, UrbanPopulation, UrbanTemporaryPopulation, Surface_Area_of_Built_District, Road_Surface_Area_Per_Capita_m2, Parkland_per_capita, Rate_of_non_hazardous_treatment_of_domestic_waste(%), Unnamed: 10, Population_urbanization, Unnamed: 12, GDP, First_sector_of_GDP, Industrial_wastewater_discharge_(tonnes), Industrial_fume_emissions_(tonnes), Comprehensive_industrial_solid_waste_utilisation_rate(%), Unnamed: 18, Unnamed: 19, Citycode, Area_of_administrative_districts, Unnamed: 22, Unnamed: 23, Unnamed: 24, Unnamed: 25, Unnamed: 26, Unnamed: 27, 城市, Unnamed: 29, Unnamed: 30, CITY, Greening_coverage_in_builtup_areas, Unnamed: 33, Unnamed: 34, NameofCities, PUI, URI, LUI, EUI, EAL, LUL]
Index: []

[0 rows x 42 columns]

In [28]:
# 指定需要检查NaN值的列
columns_to_check1 = ['URI', 'LUI', 'EUI', 'EAL','LUL']

# 去除这些列中包含NaN值的行
data_merged = df_merged.dropna(subset=columns_to_check1)

In [30]:
data_merged['Year'] = 2022

In [31]:
data_merged

,Name_of_Regions,Unnamed: 1,Year,Unnamed: 3,UrbanPopulation,UrbanTemporaryPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),...,Greening_coverage_in_builtup_areas,Unnamed: 33,Unnamed: 34,NameofCities,PUI,URI,LUI,EUI,EAL,LUL
0,北京,Beijing,2022,北京,1912.80,0.00,1469.05,8.04,16.63,100.0,...,49.77,北京市,NaN,北京,0.8757,0.009375,0.089549,0.9973,25364.827796,268.575017
1,天津,Tianjin,2022,天津,1160.07,0.00,1264.46,16.11,9.98,100.0,...,38.41,天津市,NaN,天津,0.8511,0.015673,0.106043,0.9833,13679.134519,323.775440
2,石家庄,Shijiazhuang,2022,石家庄,349.41,5.44,334.52,17.06,14.59,100.0,...,41.33,石家庄市,NaN,石家庄,0.7144,0.004306,0.023796,0.9214,5051.216389,291.100760
3,唐山,Tangshan,2022,唐山,195.67,10.07,249.50,20.76,16.69,100.0,...,43.97,唐山市,NaN,唐山,0.6579,0.003093,0.018069,0.9283,6446.263036,311.211194
4,秦皇岛,Qinhuangdao,2022,秦皇岛,106.55,32.30,149.81,18.16,17.25,100.0,...,40.75,秦皇岛市,NaN,秦皇岛,0.6547,0.003236,0.019226,0.8679,2451.232033,267.822668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,固原,Guyuan,2022,固原,20.21,6.51,45.06,30.96,32.10,100.0,...,41.99,固原市,NaN,固原,0.4480,0.000786,0.004282,0.8174,389.585709,232.605304
286,中卫,Zhongwei,2022,中卫,15.42,1.39,30.86,34.87,23.68,100.0,...,43.99,中卫市,NaN,中卫,0.5083,0.000429,0.002259,0.8585,412.914562,207.871637
287,新疆,xinjiang,2022,新疆,597.22,259.11,1428.05,22.51,14.93,100.0,...,41.17,NaN,NaN,新疆,0.5789,0.000118,0.000876,0.8590,108.803216,66.331128
288,乌鲁木齐,Urumuchi,2022,乌鲁木齐,234.21,149.56,545.10,15.68,13.17,100.0,...,39.73,乌鲁木齐市,NaN,乌鲁木齐,0.9650,0.004363,0.039520,0.9920,2822.446168,130.022680
289,克拉玛依,Kelamayi,2022,克拉玛依,31.97,14.60,79.42,37.18,14.26,100.0,...,43.94,克拉玛依市,NaN,克拉玛依,0.9897,0.002348,0.010770,0.9844,1611.065907,69.553037

In [32]:
# 保留所需的列
columns_to_keep = ['Name_of_Regions', 'Year', 'Citycode', 'PUI', 'URI', 'LUI', 'EUI', 'EAL', 'LUL']
ui_index_2022 = data_merged[columns_to_keep]

# 导出为 CSV 文件
ui_index_2022.to_csv('data/UI_index_2022.csv', index=False)

In [33]:
# 将指定列的NaN值转换为0
columns_to_fill = [
    'Industrial_wastewater_discharge_(tonnes)', 
    'Industrial_fume_emissions_(tonnes)', 
    'Comprehensive_industrial_solid_waste_utilisation_rate(%)', 
    'Rate_of_non_hazardous_treatment_of_domestic_waste(%)', 
    'Greening_coverage_in_builtup_areas', 
    'Parkland_per_capita'
]

df_cleaned[columns_to_fill] = df_cleaned[columns_to_fill].fillna(0)

/tmp/ipykernel_5940/1106163433.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[columns_to_fill] = df_cleaned[columns_to_fill].fillna(0)

In [34]:
df_cleaned

,Name_of_Regions,Unnamed: 1,Year,Unnamed: 3,UrbanPopulation,UrbanTemporaryPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),...,CITY,Greening_coverage_in_builtup_areas,Unnamed: 33,Unnamed: 34,NameofCities,PUI,URI,LUI,EUI,EAL
0,北京,Beijing,NaN,北京,1912.80,0.00,1469.05,8.04,16.63,100.0,...,北京市,49.77,北京市,NaN,北京,0.8757,0.009375,0.089549,0.9973,25364.827796
1,天津,Tianjin,NaN,天津,1160.07,0.00,1264.46,16.11,9.98,100.0,...,天津市,38.41,天津市,NaN,天津,0.8511,0.015673,0.106043,0.9833,13679.134519
3,石家庄,Shijiazhuang,NaN,石家庄,349.41,5.44,334.52,17.06,14.59,100.0,...,石家庄市,41.33,石家庄市,NaN,石家庄,0.7144,0.004306,0.023796,0.9214,5051.216389
4,唐山,Tangshan,NaN,唐山,195.67,10.07,249.50,20.76,16.69,100.0,...,唐山市,43.97,唐山市,NaN,唐山,0.6579,0.003093,0.018069,0.9283,6446.263036
5,秦皇岛,Qinhuangdao,NaN,秦皇岛,106.55,32.30,149.81,18.16,17.25,100.0,...,秦皇岛市,40.75,秦皇岛市,NaN,秦皇岛,0.6547,0.003236,0.019226,0.8679,2451.232033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,固原,Guyuan,NaN,固原,20.21,6.51,45.06,30.96,32.10,100.0,...,固原市,41.99,固原市,NaN,固原,0.4480,0.000786,0.004282,0.8174,389.585709
315,中卫,Zhongwei,NaN,中卫,15.42,1.39,30.86,34.87,23.68,100.0,...,中卫市,43.99,中卫市,NaN,中卫,0.5083,0.000429,0.002259,0.8585,412.914562
316,新疆,xinjiang,NaN,新疆,597.22,259.11,1428.05,22.51,14.93,100.0,...,NaN,41.17,NaN,NaN,新疆,0.5789,0.000118,0.000876,0.8590,108.803216
317,乌鲁木齐,Urumuchi,NaN,乌鲁木齐,234.21,149.56,545.10,15.68,13.17,100.0,...,乌鲁木齐市,39.73,乌鲁木齐市,NaN,乌鲁木齐,0.9650,0.004363,0.039520,0.9920,2822.446168
318,克拉玛依,Kelamayi,NaN,克拉玛依,31.97,14.60,79.42,37.18,14.26,100.0,...,克拉玛依市,43.94,克拉玛依市,NaN,克拉玛依,0.9897,0.002348,0.010770,0.9844,1611.065907

In [35]:
df_cleaned['Res1'] = df_cleaned['Industrial_wastewater_discharge_(tonnes)'] / df_cleaned['GDP']

/tmp/ipykernel_5940/2666823736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res1'] = df_cleaned['Industrial_wastewater_discharge_(tonnes)'] / df_cleaned['GDP']

In [36]:
df_cleaned['Res1'].describe()

count    290.000000
mean       0.000135
std        0.000131
min        0.000006
25%        0.000059
50%        0.000096
75%        0.000168
max        0.001072
Name: Res1, dtype: float64

In [37]:
df_cleaned['Res2'] = df_cleaned['Industrial_fume_emissions_(tonnes)'] / df_cleaned['GDP']

/tmp/ipykernel_5940/2575824147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Res2'] = df_cleaned['Industrial_fume_emissions_(tonnes)'] / df_cleaned['GDP']

In [38]:
df_cleaned['Res2'].describe()

count    290.000000
mean       0.000503
std        0.000961
min        0.000003
25%        0.000080
50%        0.000190
75%        0.000475
max        0.006318
Name: Res2, dtype: float64

In [39]:
df_cleaned['Ada1'] = df_cleaned['Comprehensive_industrial_solid_waste_utilisation_rate(%)'] 
df_cleaned['Ada1'].describe()

/tmp/ipykernel_5940/526319254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada1'] = df_cleaned['Comprehensive_industrial_solid_waste_utilisation_rate(%)']

count    290.000000
mean      74.427024
std       24.618827
min        2.520000
25%       61.080000
50%       81.640000
75%       94.137500
max      150.620000
Name: Ada1, dtype: float64

In [40]:
# 查找 Ada1 列值大于 100 的行
rows_ada1_above_100 = df_cleaned[df_cleaned['Ada1'] > 100]
rows_ada1_above_100

,Name_of_Regions,Unnamed: 1,Year,Unnamed: 3,UrbanPopulation,UrbanTemporaryPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),...,Unnamed: 34,NameofCities,PUI,URI,LUI,EUI,EAL,Res1,Res2,Ada1
55,辽源,Liaoyuan,NaN,辽源,37.80,5.64,50.23,17.58,13.63,100.0,...,NaN,辽源,0.4993,0.001486,0.009774,0.8879,974.897840,0.000133,0.000230,100.03
78,常州,Changzhou,NaN,常州,184.78,30.16,278.74,24.45,15.58,100.0,...,NaN,常州,0.7801,0.012023,0.063770,0.9820,21848.547243,0.000123,0.000193,100.05
93,湖州,Huzhou,NaN,湖州,48.31,51.41,134.92,30.30,18.19,100.0,...,NaN,湖州,0.6636,0.005195,0.023198,0.9581,6619.669876,0.000199,0.000188,100.27
96,衢州,Quzhou,NaN,衢州,30.34,9.96,87.70,37.17,17.11,100.0,...,NaN,衢州,0.5930,0.001694,0.009916,0.9535,2264.812302,0.000449,0.000344,100.02
135,赣州,Ganzhou,NaN,赣州,123.56,39.74,222.22,27.67,17.84,100.0,...,NaN,赣州,0.5700,0.001148,0.005645,0.9003,1149.273448,0.000136,0.000242,104.31
139,上饶,shangrao,NaN,上饶,69.88,4.81,105.51,31.35,23.43,100.0,...,NaN,上饶,0.5594,0.001030,0.004639,0.8998,1455.328878,0.000192,0.000682,150.62
197,常德,Changde,NaN,常德,68.22,23.18,130.60,27.51,13.46,100.0,...,NaN,常德,0.5770,0.001383,0.007185,0.8842,2351.873246,0.000006,0.000200,100.44

In [41]:
df_cleaned['Ada2'] = df_cleaned['Rate_of_non_hazardous_treatment_of_domestic_waste(%)'] 
df_cleaned['Ada2'].describe()

/tmp/ipykernel_5940/2482281589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Ada2'] = df_cleaned['Rate_of_non_hazardous_treatment_of_domestic_waste(%)']

count    290.000000
mean      99.969517
std        0.278185
min       95.850000
25%      100.000000
50%      100.000000
75%      100.000000
max      100.000000
Name: Ada2, dtype: float64

In [42]:
rows_ada2_above_100 = df_cleaned[df_cleaned['Ada2'] > 100]
rows_ada2_above_100

Empty DataFrame
Columns: [Name_of_Regions, Unnamed: 1, Year, Unnamed: 3, UrbanPopulation, UrbanTemporaryPopulation, Surface_Area_of_Built_District, Road_Surface_Area_Per_Capita_m2, Parkland_per_capita, Rate_of_non_hazardous_treatment_of_domestic_waste(%), Unnamed: 10, Population_urbanization, Unnamed: 12, GDP, First_sector_of_GDP, Industrial_wastewater_discharge_(tonnes), Industrial_fume_emissions_(tonnes), Comprehensive_industrial_solid_waste_utilisation_rate(%), Unnamed: 18, Unnamed: 19, Citycode, Area_of_administrative_districts, Unnamed: 22, Unnamed: 23, Unnamed: 24, Unnamed: 25, Unnamed: 26, Unnamed: 27, 城市, Unnamed: 29, Unnamed: 30, CITY, Greening_coverage_in_builtup_areas, Unnamed: 33, Unnamed: 34, NameofCities, PUI, URI, LUI, EUI, EAL, Res1, Res2, Ada1, Ada2]
Index: []

[0 rows x 45 columns]

In [43]:
df_cleaned['Rec1'] = df_cleaned['Greening_coverage_in_builtup_areas'] 
df_cleaned['Rec2'] = df_cleaned['Parkland_per_capita']

/tmp/ipykernel_5940/1792138184.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec1'] = df_cleaned['Greening_coverage_in_builtup_areas']
/tmp/ipykernel_5940/1792138184.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Rec2'] = df_cleaned['Parkland_per_capita']

In [44]:
df_cleaned['Rec1'].describe()

count    290.000000
mean      43.172345
std        4.132322
min        0.000000
25%       41.730000
50%       43.380000
75%       44.752500
max       64.640000
Name: Rec1, dtype: float64

In [45]:
rows_rec1_above_100 = df_cleaned[df_cleaned['Rec1'] > 100]
rows_rec1_above_100

Empty DataFrame
Columns: [Name_of_Regions, Unnamed: 1, Year, Unnamed: 3, UrbanPopulation, UrbanTemporaryPopulation, Surface_Area_of_Built_District, Road_Surface_Area_Per_Capita_m2, Parkland_per_capita, Rate_of_non_hazardous_treatment_of_domestic_waste(%), Unnamed: 10, Population_urbanization, Unnamed: 12, GDP, First_sector_of_GDP, Industrial_wastewater_discharge_(tonnes), Industrial_fume_emissions_(tonnes), Comprehensive_industrial_solid_waste_utilisation_rate(%), Unnamed: 18, Unnamed: 19, Citycode, Area_of_administrative_districts, Unnamed: 22, Unnamed: 23, Unnamed: 24, Unnamed: 25, Unnamed: 26, Unnamed: 27, 城市, Unnamed: 29, Unnamed: 30, CITY, Greening_coverage_in_builtup_areas, Unnamed: 33, Unnamed: 34, NameofCities, PUI, URI, LUI, EUI, EAL, Res1, Res2, Ada1, Ada2, Rec1, Rec2]
Index: []

[0 rows x 47 columns]

In [46]:
top_10_Rec1 = df_cleaned.nlargest(10, 'Rec1')
top_10_Rec1

,Name_of_Regions,Unnamed: 1,Year,Unnamed: 3,UrbanPopulation,UrbanTemporaryPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),...,URI,LUI,EUI,EAL,Res1,Res2,Ada1,Ada2,Rec1,Rec2
194,衡阳,Hengyang,NaN,衡阳,95.61,38.91,146.00,16.81,14.61,100.00,...,0.001478,0.009544,0.8848,2673.726875,0.000068,0.000208,74.72,100.00,64.64,14.61
222,中山,Zhongshan,NaN,中山,50.24,34.25,82.82,19.24,15.05,95.85,...,0.009321,0.047489,0.9754,20819.954128,0.000186,0.000031,81.61,95.85,55.67,15.05
130,景德镇,Jingdezhen,NaN,景德镇,36.71,9.57,101.00,32.90,17.07,100.00,...,0.002894,0.019198,0.9367,2265.728949,0.000165,0.000179,81.05,100.00,51.90,17.07
138,抚州,Fuzhou,NaN,抚州,79.91,0.75,114.56,30.81,19.64,100.00,...,0.001322,0.006093,0.8758,1035.051327,0.000103,0.000042,91.35,100.00,50.40,19.64
139,上饶,shangrao,NaN,上饶,69.88,4.81,105.51,31.35,23.43,100.00,...,0.001030,0.004639,0.8998,1455.328878,0.000192,0.000682,150.62,100.00,50.36,23.43
133,新余,Xinyu,NaN,新余,47.86,2.64,85.00,26.65,19.50,100.00,...,0.004260,0.026907,0.9410,3963.279519,0.000177,0.000383,89.16,100.00,49.96,19.50
41,本溪,Benxi,NaN,本溪,84.92,7.58,109.00,23.98,10.99,100.00,...,0.002636,0.012955,0.9365,1106.489185,0.000277,0.001556,44.00,100.00,49.94,10.99
135,赣州,Ganzhou,NaN,赣州,123.56,39.74,222.22,27.67,17.84,100.00,...,0.001148,0.005645,0.9003,1149.273448,0.000136,0.000242,104.31,100.00,49.83,17.84
0,北京,Beijing,NaN,北京,1912.80,0.00,1469.05,8.04,16.63,100.00,...,0.009375,0.089549,0.9973,25364.827796,0.000018,0.000010,53.92,100.00,49.77,16.63
132,九江,Jiujiang,NaN,九江,74.43,1.75,167.57,33.67,17.96,100.00,...,0.001344,0.008781,0.9358,2110.255201,0.000225,0.000272,71.86,100.00,49.22,17.96

In [47]:
df_cleaned['Rec2'].describe()

count    290.000000
mean      16.449897
std        4.540453
min        4.650000
25%       13.852500
50%       15.520000
75%       17.922500
max       40.840000
Name: Rec2, dtype: float64

In [48]:
df_cleaned['Year'] = 2022

/tmp/ipykernel_5940/3464429035.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Year'] = 2022

In [49]:
df_cleaned

,Name_of_Regions,Unnamed: 1,Year,Unnamed: 3,UrbanPopulation,UrbanTemporaryPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),...,URI,LUI,EUI,EAL,Res1,Res2,Ada1,Ada2,Rec1,Rec2
0,北京,Beijing,2022,北京,1912.80,0.00,1469.05,8.04,16.63,100.0,...,0.009375,0.089549,0.9973,25364.827796,0.000018,0.000010,53.920000,100.0,49.77,16.63
1,天津,Tianjin,2022,天津,1160.07,0.00,1264.46,16.11,9.98,100.0,...,0.015673,0.106043,0.9833,13679.134519,0.000111,0.000040,98.900000,100.0,38.41,9.98
3,石家庄,Shijiazhuang,2022,石家庄,349.41,5.44,334.52,17.06,14.59,100.0,...,0.004306,0.023796,0.9214,5051.216389,0.000109,0.000098,78.340000,100.0,41.33,14.59
4,唐山,Tangshan,2022,唐山,195.67,10.07,249.50,20.76,16.69,100.0,...,0.003093,0.018069,0.9283,6446.263036,0.000109,0.000427,73.170000,100.0,43.97,16.69
5,秦皇岛,Qinhuangdao,2022,秦皇岛,106.55,32.30,149.81,18.16,17.25,100.0,...,0.003236,0.019226,0.8679,2451.232033,0.000127,0.000728,60.510000,100.0,40.75,17.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,固原,Guyuan,2022,固原,20.21,6.51,45.06,30.96,32.10,100.0,...,0.000786,0.004282,0.8174,389.585709,0.000025,0.000223,66.380000,100.0,41.99,32.10
315,中卫,Zhongwei,2022,中卫,15.42,1.39,30.86,34.87,23.68,100.0,...,0.000429,0.002259,0.8585,412.914562,0.000186,0.000835,64.740000,100.0,43.99,23.68
316,新疆,xinjiang,2022,新疆,597.22,259.11,1428.05,22.51,14.93,100.0,...,0.000118,0.000876,0.8590,108.803216,0.000081,0.002391,41.867498,100.0,41.17,14.93
317,乌鲁木齐,Urumuchi,2022,乌鲁木齐,234.21,149.56,545.10,15.68,13.17,100.0,...,0.004363,0.039520,0.9920,2822.446168,0.000076,0.000418,89.420000,100.0,39.73,13.17
318,克拉玛依,Kelamayi,2022,克拉玛依,31.97,14.60,79.42,37.18,14.26,100.0,...,0.002348,0.010770,0.9844,1611.065907,0.000147,0.000143,92.940000,100.0,43.94,14.26

In [50]:
columns_to_keep = ['Name_of_Regions','Citycode','Year','Res1','Res2','Ada1','Ada2','Rec1','Rec2']
uer_index_2022 = df_cleaned[columns_to_keep]
# 导出为 CSV 文件
uer_index_2022.to_csv('data/UER_index_2022.csv', index=False)

# 熵权法
# 标准化

In [47]:
# Initialize a column for the normalized values
data_merged['X1_star'] = pd.Series(dtype='float')
column_to_normalize = 'PUI'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X1_max = year_data[column_to_normalize].max()
    X1_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X1_star'] = (year_data[column_to_normalize] - X1_min) / (X1_max - X1_min)

# Initialize a column for the normalized values
data_merged['X2_star'] = pd.Series(dtype='float')
column_to_normalize = 'URI'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X2_max = year_data[column_to_normalize].max()
    X2_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X2_star'] = (year_data[column_to_normalize] - X2_min) / (X2_max - X2_min)

data_merged['X3_star'] = pd.Series(dtype='float')
column_to_normalize = 'LUI'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X3_max = year_data[column_to_normalize].max()
    X3_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X3_star'] = (year_data[column_to_normalize] - X3_min) / (X3_max - X3_min)

data_merged['X4_star'] = pd.Series(dtype='float')
column_to_normalize = 'EUI'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X4_max = year_data[column_to_normalize].max()
    X4_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X4_star'] = (year_data[column_to_normalize] - X4_min) / (X4_max - X4_min)

data_merged['X5_star'] = pd.Series(dtype='float')
column_to_normalize = 'EAL'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X5_max = year_data[column_to_normalize].max()
    X5_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X5_star'] = (year_data[column_to_normalize] - X5_min) / (X5_max - X5_min)


data_merged['X6_star'] = pd.Series(dtype='float')
column_to_normalize = 'LUL'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X6_max = year_data[column_to_normalize].max()
    X6_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X6_star'] = (year_data[column_to_normalize] - X6_min) / (X6_max - X6_min)

In [48]:
data_merged

,Name_of_Regions,Unnamed: 1,Year,Unnamed: 3,UrbanPopulation,UrbanTemporaryPopulation,Surface_Area_of_Built_District,Road_Surface_Area_Per_Capita_m2,Parkland_per_capita,Rate_of_non_hazardous_treatment_of_domestic_waste(%),...,LUI,EUI,EAL,LUL,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star
0,北京,Beijing,2022,北京,1912.80,0.00,1469.05,8.04,16.63,100.0,...,0.089549,0.9973,25364.827796,268.575017,0.814342,0.124050,0.180628,0.995996,0.152077,0.802021
1,天津,Tianjin,2022,天津,1160.07,0.00,1264.46,16.11,9.98,100.0,...,0.106043,0.9833,13679.134519,323.775440,0.776967,0.207554,0.213945,0.966491,0.081965,0.987936
2,石家庄,Shijiazhuang,2022,石家庄,349.41,5.44,334.52,17.06,14.59,100.0,...,0.023796,0.9214,5051.216389,291.100760,0.569280,0.056857,0.047813,0.836038,0.030200,0.877887
3,唐山,Tangshan,2022,唐山,195.67,10.07,249.50,20.76,16.69,100.0,...,0.018069,0.9283,6446.263036,311.211194,0.483440,0.040776,0.036246,0.850580,0.038570,0.945619
4,秦皇岛,Qinhuangdao,2022,秦皇岛,106.55,32.30,149.81,18.16,17.25,100.0,...,0.019226,0.8679,2451.232033,267.822668,0.478578,0.042669,0.038583,0.723288,0.014600,0.799487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,固原,Guyuan,2022,固原,20.21,6.51,45.06,30.96,32.10,100.0,...,0.004282,0.8174,389.585709,232.605304,0.164540,0.010188,0.008397,0.616860,0.002231,0.680874
286,中卫,Zhongwei,2022,中卫,15.42,1.39,30.86,34.87,23.68,100.0,...,0.002259,0.8585,412.914562,207.871637,0.256153,0.005456,0.004312,0.703477,0.002371,0.597571
287,新疆,xinjiang,2022,新疆,597.22,259.11,1428.05,22.51,14.93,100.0,...,0.000876,0.8590,108.803216,66.331128,0.363415,0.001334,0.001517,0.704531,0.000546,0.120862
288,乌鲁木齐,Urumuchi,2022,乌鲁木齐,234.21,149.56,545.10,15.68,13.17,100.0,...,0.039520,0.9920,2822.446168,130.022680,0.950015,0.057606,0.079575,0.984826,0.016828,0.335376
289,克拉玛依,Kelamayi,2022,克拉玛依,31.97,14.60,79.42,37.18,14.26,100.0,...,0.010770,0.9844,1611.065907,69.553037,0.987542,0.030897,0.021503,0.968809,0.009560,0.131714

In [49]:
columns_to_keep = ['Name_of_Regions','Citycode','Year','X1_star','X2_star','X3_star','X4_star','X5_star','X6_star']
data_process_UI = data_merged[columns_to_keep]

In [50]:
data_process_UI

,Name_of_Regions,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star
0,北京,110000.0,2022,0.814342,0.124050,0.180628,0.995996,0.152077,0.802021
1,天津,120000.0,2022,0.776967,0.207554,0.213945,0.966491,0.081965,0.987936
2,石家庄,130100.0,2022,0.569280,0.056857,0.047813,0.836038,0.030200,0.877887
3,唐山,130200.0,2022,0.483440,0.040776,0.036246,0.850580,0.038570,0.945619
4,秦皇岛,130300.0,2022,0.478578,0.042669,0.038583,0.723288,0.014600,0.799487
...,...,...,...,...,...,...,...,...,...
285,固原,640400.0,2022,0.164540,0.010188,0.008397,0.616860,0.002231,0.680874
286,中卫,640500.0,2022,0.256153,0.005456,0.004312,0.703477,0.002371,0.597571
287,新疆,650000.0,2022,0.363415,0.001334,0.001517,0.704531,0.000546,0.120862
288,乌鲁木齐,650100.0,2022,0.950015,0.057606,0.079575,0.984826,0.016828,0.335376
289,克拉玛依,650200.0,2022,0.987542,0.030897,0.021503,0.968809,0.009560,0.131714

In [51]:
#1.7熵权法

def calculate_entropy(indicator_data):
    # Replace zero values to avoid log(0) and negative infinity in entropy calculation
    indicator_data = indicator_data.replace(0, np.finfo(float).eps)  # Use a small number instead of zero
    p_ij = indicator_data / indicator_data.sum()  # Calculate the proportion p_ij
    K = 1 / np.log(290)  # Calculate the constant K
    e_j = -K * (p_ij * np.log(p_ij)).sum()  # Calculate the entropy e_j
    return e_j

# Initialize an empty list to store DataFrames for each year
dataframes_list = []

# Calculate entropies and weights for each year
for year in range(2022, 2023):
    year_data = data_process_UI[data_process_UI['Year'] == year].copy()
    entropies = year_data[['X1_star', 'X2_star', 'X3_star', 'X4_star','X5_star','X6_star']].apply(calculate_entropy, axis=0)
    weights = (1 - entropies) / (1 - entropies).sum()  # Calculate weights, ensuring they sum up to 1 within the year
    for i, indicator in enumerate(['X1_star', 'X2_star', 'X3_star', 'X4_star','X5_star','X6_star']):
        year_data[indicator + '_weighted'] = year_data[indicator] * weights.values[i]  # Apply weights to the indicators
    dataframes_list.append(year_data)  # Append the yearly data to the list

# Concatenate all DataFrames in the list to create the comprehensive_scores DataFrame
UI = pd.concat(dataframes_list, ignore_index=True)

# Now you should have the comprehensive_scores DataFrame with correctly calculated weights per year

In [52]:
UI

,Name_of_Regions,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,X2_star_weighted,X3_star_weighted,X4_star_weighted,X5_star_weighted,X6_star_weighted
0,北京,110000.0,2022,0.814342,0.124050,0.180628,0.995996,0.152077,0.802021,0.032968,0.035951,0.056619,0.011007,0.051158,0.007058
1,天津,120000.0,2022,0.776967,0.207554,0.213945,0.966491,0.081965,0.987936,0.031455,0.060152,0.067063,0.010681,0.027573,0.008695
2,石家庄,130100.0,2022,0.569280,0.056857,0.047813,0.836038,0.030200,0.877887,0.023047,0.016478,0.014987,0.009239,0.010159,0.007726
3,唐山,130200.0,2022,0.483440,0.040776,0.036246,0.850580,0.038570,0.945619,0.019572,0.011817,0.011362,0.009400,0.012975,0.008322
4,秦皇岛,130300.0,2022,0.478578,0.042669,0.038583,0.723288,0.014600,0.799487,0.019375,0.012366,0.012094,0.007993,0.004911,0.007036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,固原,640400.0,2022,0.164540,0.010188,0.008397,0.616860,0.002231,0.680874,0.006661,0.002953,0.002632,0.006817,0.000750,0.005992
286,中卫,640500.0,2022,0.256153,0.005456,0.004312,0.703477,0.002371,0.597571,0.010370,0.001581,0.001352,0.007774,0.000798,0.005259
287,新疆,650000.0,2022,0.363415,0.001334,0.001517,0.704531,0.000546,0.120862,0.014713,0.000387,0.000476,0.007786,0.000184,0.001064
288,乌鲁木齐,650100.0,2022,0.950015,0.057606,0.079575,0.984826,0.016828,0.335376,0.038461,0.016695,0.024943,0.010883,0.005661,0.002952
289,克拉玛依,650200.0,2022,0.987542,0.030897,0.021503,0.968809,0.009560,0.131714,0.039980,0.008954,0.006740,0.010706,0.003216,0.001159

In [53]:
# Calculate the combined weighted values for Resistance, Adaptability, and Recovery
UI['PU'] = UI['X1_star_weighted'] + UI['X2_star_weighted']
UI['LU'] = UI['X3_star_weighted'] + UI['X6_star_weighted']
#comprehensive_scores['ADA'] = comprehensive_scores['X2_star_weighted'] 
UI['EU'] = UI['X4_star_weighted'] + UI['X5_star_weighted']

# Assuming data_merged is the DataFrame with the standardized 'RES', 'ADA', and 'REC' columns.

# Define a small positive value to add to REC to avoid zero values
small_positive_value = 1e-6

# Replace zero values in REC with the small positive value
UI['PU_adj'] = UI['PU'].replace(0, small_positive_value)
UI['LU_adj'] = UI['LU'].replace(0, small_positive_value)
UI['EU_adj'] = UI['EU'].replace(0, small_positive_value)

# Now, the UER values should not be zero due to REC being zero, since we have adjusted REC values slightly above zero.

# Calculate the Urban Ecological Resilience (UER) for each borough and year
UI['UI'] = UI['PU_adj'] + UI['LU_adj'] + UI['EU_adj']

# Check the result
UI[['Year', 'Name_of_Regions', 'PU', 'LU', 'EU', 'UI']].head()

   Year Name_of_Regions        PU        LU        EU        UI
0  2022              北京  0.068920  0.063678  0.062164  0.194761
1  2022              天津  0.091607  0.075757  0.038253  0.205618
2  2022             石家庄  0.039525  0.022714  0.019398  0.081636
3  2022              唐山  0.031389  0.019684  0.022374  0.073447
4  2022             秦皇岛  0.031741  0.019130  0.012904  0.063776

In [54]:
UI

,Name_of_Regions,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,...,X4_star_weighted,X5_star_weighted,X6_star_weighted,PU,LU,EU,PU_adj,LU_adj,EU_adj,UI
0,北京,110000.0,2022,0.814342,0.124050,0.180628,0.995996,0.152077,0.802021,0.032968,...,0.011007,0.051158,0.007058,0.068920,0.063678,0.062164,0.068920,0.063678,0.062164,0.194761
1,天津,120000.0,2022,0.776967,0.207554,0.213945,0.966491,0.081965,0.987936,0.031455,...,0.010681,0.027573,0.008695,0.091607,0.075757,0.038253,0.091607,0.075757,0.038253,0.205618
2,石家庄,130100.0,2022,0.569280,0.056857,0.047813,0.836038,0.030200,0.877887,0.023047,...,0.009239,0.010159,0.007726,0.039525,0.022714,0.019398,0.039525,0.022714,0.019398,0.081636
3,唐山,130200.0,2022,0.483440,0.040776,0.036246,0.850580,0.038570,0.945619,0.019572,...,0.009400,0.012975,0.008322,0.031389,0.019684,0.022374,0.031389,0.019684,0.022374,0.073447
4,秦皇岛,130300.0,2022,0.478578,0.042669,0.038583,0.723288,0.014600,0.799487,0.019375,...,0.007993,0.004911,0.007036,0.031741,0.019130,0.012904,0.031741,0.019130,0.012904,0.063776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,固原,640400.0,2022,0.164540,0.010188,0.008397,0.616860,0.002231,0.680874,0.006661,...,0.006817,0.000750,0.005992,0.009614,0.008624,0.007567,0.009614,0.008624,0.007567,0.025806
286,中卫,640500.0,2022,0.256153,0.005456,0.004312,0.703477,0.002371,0.597571,0.010370,...,0.007774,0.000798,0.005259,0.011952,0.006611,0.008572,0.011952,0.006611,0.008572,0.027134
287,新疆,650000.0,2022,0.363415,0.001334,0.001517,0.704531,0.000546,0.120862,0.014713,...,0.007786,0.000184,0.001064,0.015099,0.001539,0.007970,0.015099,0.001539,0.007970,0.024608
288,乌鲁木齐,650100.0,2022,0.950015,0.057606,0.079575,0.984826,0.016828,0.335376,0.038461,...,0.010883,0.005661,0.002952,0.055156,0.027895,0.016544,0.055156,0.027895,0.016544,0.099595
289,克拉玛依,650200.0,2022,0.987542,0.030897,0.021503,0.968809,0.009560,0.131714,0.039980,...,0.010706,0.003216,0.001159,0.048934,0.007900,0.013922,0.048934,0.007900,0.013922,0.070756

In [55]:
columns_to_keep = ['Name_of_Regions','Citycode','Year','Res1','Res2','Ada1','Ada2','Rec1','Rec2']
data_merged = df_cleaned[columns_to_keep]

In [60]:
data_merged

,Name_of_Regions,Citycode,Year,Res1,Res2,Ada1,Ada2,Rec1,Rec2,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star
0,北京,110000.0,2022,0.000018,0.000010,53.920000,100.0,49.77,16.63,NaN,NaN,NaN,NaN,NaN,NaN
1,天津,120000.0,2022,0.000111,0.000040,98.900000,100.0,38.41,9.98,NaN,NaN,NaN,NaN,NaN,NaN
3,石家庄,130100.0,2022,0.000109,0.000098,78.340000,100.0,41.33,14.59,NaN,NaN,NaN,NaN,NaN,NaN
4,唐山,130200.0,2022,0.000109,0.000427,73.170000,100.0,43.97,16.69,NaN,NaN,NaN,NaN,NaN,NaN
5,秦皇岛,130300.0,2022,0.000127,0.000728,60.510000,100.0,40.75,17.25,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,固原,640400.0,2022,0.000025,0.000223,66.380000,100.0,41.99,32.10,NaN,NaN,NaN,NaN,NaN,NaN
315,中卫,640500.0,2022,0.000186,0.000835,64.740000,100.0,43.99,23.68,NaN,NaN,NaN,NaN,NaN,NaN
316,新疆,650000.0,2022,0.000081,0.002391,41.867498,100.0,41.17,14.93,NaN,NaN,NaN,NaN,NaN,NaN
317,乌鲁木齐,650100.0,2022,0.000076,0.000418,89.420000,100.0,39.73,13.17,NaN,NaN,NaN,NaN,NaN,NaN
318,克拉玛依,650200.0,2022,0.000147,0.000143,92.940000,100.0,43.94,14.26,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
# Initialize a column for the normalized values
data_merged['X1_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res1'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X1_max = year_data[column_to_normalize].max()
    X1_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X1_star'] = (X1_max - year_data[column_to_normalize]) / (X1_max - X1_min)


# Initialize a column for the normalized values
data_merged['X2_star'] = pd.Series(dtype='float')
column_to_normalize = 'Res2'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X2_max = year_data[column_to_normalize].max()
    X2_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X2_star'] = (X2_max - year_data[column_to_normalize]) / (X2_max - X2_min)

data_merged['X3_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada1'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X3_max = year_data[column_to_normalize].max()
    X3_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X3_star'] = (year_data[column_to_normalize] - X3_min) / (X3_max - X3_min)

data_merged['X4_star'] = pd.Series(dtype='float')
column_to_normalize = 'Ada2'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X4_max = year_data[column_to_normalize].max()
    X4_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X4_star'] = (year_data[column_to_normalize] - X4_min) / (X4_max - X4_min)

data_merged['X5_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec1'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X5_max = year_data[column_to_normalize].max()
    X5_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X5_star'] = (year_data[column_to_normalize] - X5_min) / (X5_max - X5_min)

data_merged['X6_star'] = pd.Series(dtype='float')
column_to_normalize = 'Rec2'
# Iterate over each year to perform the normalization
for year in range(2022, 2023):  # Including 2021
    # Filter the DataFrame for the current year
    year_data = data_merged[data_merged['Year'] == year]
    
    # Calculate the max and min values for the current year
    X6_max = year_data[column_to_normalize].max()
    X6_min = year_data[column_to_normalize].min()
    
    # Apply the normalization formula for the current year
    data_merged.loc[data_merged['Year'] == year, 'X6_star'] = (year_data[column_to_normalize] - X6_min) / (X6_max - X6_min)

/tmp/ipykernel_13758/4156343405.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X1_star'] = pd.Series(dtype='float')
/tmp/ipykernel_13758/4156343405.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X2_star'] = pd.Series(dtype='float')
/tmp/ipykernel_13758/4156343405.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X3_star'] = pd.Series(dtype='float')
/tmp/ipykernel_13758/4156343405.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X4_star'] = pd.Series(dtype='float')
/tmp/ipykernel_13758/4156343405.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X5_star'] = pd.Series(dtype='float')
/tmp/ipykernel_13758/4156343405.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_merged['X6_star'] = pd.Series(dtype='float')

In [62]:
data_merged

,Name_of_Regions,Citycode,Year,Res1,Res2,Ada1,Ada2,Rec1,Rec2,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star
0,北京,110000.0,2022,0.000018,0.000010,53.920000,100.0,49.77,16.63,0.989552,0.998962,0.347063,1.0,0.769957,0.331031
1,天津,120000.0,2022,0.000111,0.000040,98.900000,100.0,38.41,9.98,0.902023,0.994186,0.650777,1.0,0.594214,0.147278
3,石家庄,130100.0,2022,0.000109,0.000098,78.340000,100.0,41.33,14.59,0.904171,0.985036,0.511951,1.0,0.639387,0.274662
4,唐山,130200.0,2022,0.000109,0.000427,73.170000,100.0,43.97,16.69,0.903542,0.932951,0.477043,1.0,0.680229,0.332689
5,秦皇岛,130300.0,2022,0.000127,0.000728,60.510000,100.0,40.75,17.25,0.887111,0.885263,0.391560,1.0,0.630415,0.348162
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,固原,640400.0,2022,0.000025,0.000223,66.380000,100.0,41.99,32.10,0.982192,0.965194,0.431195,1.0,0.649598,0.758497
315,中卫,640500.0,2022,0.000186,0.000835,64.740000,100.0,43.99,23.68,0.831480,0.868273,0.420122,1.0,0.680538,0.525836
316,新疆,650000.0,2022,0.000081,0.002391,41.867498,100.0,41.17,14.93,0.929801,0.621886,0.265682,1.0,0.636912,0.284056
317,乌鲁木齐,650100.0,2022,0.000076,0.000418,89.420000,100.0,39.73,13.17,0.934940,0.934361,0.586766,1.0,0.614635,0.235424
318,克拉玛依,650200.0,2022,0.000147,0.000143,92.940000,100.0,43.94,14.26,0.867620,0.977823,0.610533,1.0,0.679765,0.265543

In [63]:
columns_to_keep = ['Name_of_Regions','Citycode','Year','X1_star','X2_star','X3_star','X4_star','X5_star','X6_star']
data_process = data_merged[columns_to_keep]

In [64]:
#1.7熵权法

def calculate_entropy(indicator_data):
    # Replace zero values to avoid log(0) and negative infinity in entropy calculation
    indicator_data = indicator_data.replace(0, np.finfo(float).eps)  # Use a small number instead of zero
    p_ij = indicator_data / indicator_data.sum()  # Calculate the proportion p_ij
    K = 1 / np.log(290)  # Calculate the constant K
    e_j = -K * (p_ij * np.log(p_ij)).sum()  # Calculate the entropy e_j
    return e_j

# Initialize an empty list to store DataFrames for each year
dataframes_list = []

# Calculate entropies and weights for each year
for year in range(2022, 2023):
    year_data = data_process[data_process['Year'] == year].copy()
    entropies = year_data[['X1_star', 'X2_star', 'X3_star', 'X4_star','X5_star','X6_star']].apply(calculate_entropy, axis=0)
    weights = (1 - entropies) / (1 - entropies).sum()  # Calculate weights, ensuring they sum up to 1 within the year
    for i, indicator in enumerate(['X1_star', 'X2_star', 'X3_star', 'X4_star','X5_star','X6_star']):
        year_data[indicator + '_weighted'] = year_data[indicator] * weights.values[i]  # Apply weights to the indicators
    dataframes_list.append(year_data)  # Append the yearly data to the list

# Concatenate all DataFrames in the list to create the comprehensive_scores DataFrame
UER = pd.concat(dataframes_list, ignore_index=True)

# Now you should have the comprehensive_scores DataFrame with correctly calculated weights per year

In [65]:
UER

,Name_of_Regions,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,X2_star_weighted,X3_star_weighted,X4_star_weighted,X5_star_weighted,X6_star_weighted
0,北京,110000.0,2022,0.989552,0.998962,0.347063,1.0,0.769957,0.331031,0.069528,0.110670,0.140671,0.022482,0.026606,0.118044
1,天津,120000.0,2022,0.902023,0.994186,0.650777,1.0,0.594214,0.147278,0.063378,0.110141,0.263772,0.022482,0.020533,0.052519
2,石家庄,130100.0,2022,0.904171,0.985036,0.511951,1.0,0.639387,0.274662,0.063529,0.109127,0.207504,0.022482,0.022094,0.097943
3,唐山,130200.0,2022,0.903542,0.932951,0.477043,1.0,0.680229,0.332689,0.063485,0.103357,0.193355,0.022482,0.023506,0.118635
4,秦皇岛,130300.0,2022,0.887111,0.885263,0.391560,1.0,0.630415,0.348162,0.062330,0.098074,0.158707,0.022482,0.021784,0.124153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,固原,640400.0,2022,0.982192,0.965194,0.431195,1.0,0.649598,0.758497,0.069011,0.106929,0.174772,0.022482,0.022447,0.270476
286,中卫,640500.0,2022,0.831480,0.868273,0.420122,1.0,0.680538,0.525836,0.058421,0.096192,0.170283,0.022482,0.023516,0.187511
287,新疆,650000.0,2022,0.929801,0.621886,0.265682,1.0,0.636912,0.284056,0.065330,0.068896,0.107686,0.022482,0.022009,0.101293
288,乌鲁木齐,650100.0,2022,0.934940,0.934361,0.586766,1.0,0.614635,0.235424,0.065691,0.103513,0.237828,0.022482,0.021239,0.083951
289,克拉玛依,650200.0,2022,0.867620,0.977823,0.610533,1.0,0.679765,0.265543,0.060961,0.108328,0.247461,0.022482,0.023490,0.094691

In [66]:
# Calculate the combined weighted values for Resistance, Adaptability, and Recovery
UER['RES'] = UER['X1_star_weighted'] + UER['X2_star_weighted']
UER['ADA'] = UER['X3_star_weighted'] + UER['X4_star_weighted']
#comprehensive_scores['ADA'] = comprehensive_scores['X2_star_weighted'] 
UER['REC'] = UER['X5_star_weighted'] + UER['X6_star_weighted']

# Assuming data_merged is the DataFrame with the standardized 'RES', 'ADA', and 'REC' columns.

# Define a small positive value to add to REC to avoid zero values
small_positive_value = 1e-6

# Replace zero values in REC with the small positive value
UER['REC_adj'] = UER['REC'].replace(0, small_positive_value)
UER['ADA_adj'] = UER['ADA'].replace(0, small_positive_value)
UER['RES_adj'] = UER['RES'].replace(0, small_positive_value)

# Now, the UER values should not be zero due to REC being zero, since we have adjusted REC values slightly above zero.

# Calculate the Urban Ecological Resilience (UER) for each borough and year
UER['UER'] = (UER['RES_adj'] * UER['ADA_adj'] * UER['REC_adj']) ** (1/3)

# Check the result
UER[['Year', 'Name_of_Regions', 'RES', 'ADA', 'REC', 'UER']].head()

   Year Name_of_Regions       RES       ADA       REC       UER
0  2022              北京  0.180198  0.163154  0.144650  0.162015
1  2022              天津  0.173519  0.286255  0.073052  0.153666
2  2022             石家庄  0.172656  0.229986  0.120037  0.168293
3  2022              唐山  0.166842  0.215837  0.142141  0.172339
4  2022             秦皇岛  0.160404  0.181189  0.145937  0.161872

In [67]:
UER

,Name_of_Regions,Citycode,Year,X1_star,X2_star,X3_star,X4_star,X5_star,X6_star,X1_star_weighted,...,X4_star_weighted,X5_star_weighted,X6_star_weighted,RES,ADA,REC,REC_adj,ADA_adj,RES_adj,UER
0,北京,110000.0,2022,0.989552,0.998962,0.347063,1.0,0.769957,0.331031,0.069528,...,0.022482,0.026606,0.118044,0.180198,0.163154,0.144650,0.144650,0.163154,0.180198,0.162015
1,天津,120000.0,2022,0.902023,0.994186,0.650777,1.0,0.594214,0.147278,0.063378,...,0.022482,0.020533,0.052519,0.173519,0.286255,0.073052,0.073052,0.286255,0.173519,0.153666
2,石家庄,130100.0,2022,0.904171,0.985036,0.511951,1.0,0.639387,0.274662,0.063529,...,0.022482,0.022094,0.097943,0.172656,0.229986,0.120037,0.120037,0.229986,0.172656,0.168293
3,唐山,130200.0,2022,0.903542,0.932951,0.477043,1.0,0.680229,0.332689,0.063485,...,0.022482,0.023506,0.118635,0.166842,0.215837,0.142141,0.142141,0.215837,0.166842,0.172339
4,秦皇岛,130300.0,2022,0.887111,0.885263,0.391560,1.0,0.630415,0.348162,0.062330,...,0.022482,0.021784,0.124153,0.160404,0.181189,0.145937,0.145937,0.181189,0.160404,0.161872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,固原,640400.0,2022,0.982192,0.965194,0.431195,1.0,0.649598,0.758497,0.069011,...,0.022482,0.022447,0.270476,0.175940,0.197254,0.292924,0.292924,0.197254,0.175940,0.216628
286,中卫,640500.0,2022,0.831480,0.868273,0.420122,1.0,0.680538,0.525836,0.058421,...,0.022482,0.023516,0.187511,0.154613,0.192766,0.211027,0.211027,0.192766,0.154613,0.184589
287,新疆,650000.0,2022,0.929801,0.621886,0.265682,1.0,0.636912,0.284056,0.065330,...,0.022482,0.022009,0.101293,0.134225,0.130168,0.123302,0.123302,0.130168,0.134225,0.129153
288,乌鲁木齐,650100.0,2022,0.934940,0.934361,0.586766,1.0,0.614635,0.235424,0.065691,...,0.022482,0.021239,0.083951,0.169204,0.260310,0.105190,0.105190,0.260310,0.169204,0.166709
289,克拉玛依,650200.0,2022,0.867620,0.977823,0.610533,1.0,0.679765,0.265543,0.060961,...,0.022482,0.023490,0.094691,0.169289,0.269944,0.118181,0.118181,0.269944,0.169289,0.175449

In [68]:
df_merged1 = pd.merge(UI, UER, on=['Citycode', 'Year'])

In [69]:
df_merged1

,Name_of_Regions_x,Citycode,Year,X1_star_x,X2_star_x,X3_star_x,X4_star_x,X5_star_x,X6_star_x,X1_star_weighted_x,...,X4_star_weighted_y,X5_star_weighted_y,X6_star_weighted_y,RES,ADA,REC,REC_adj,ADA_adj,RES_adj,UER
0,北京,110000.0,2022,0.814342,0.124050,0.180628,0.995996,0.152077,0.802021,0.032968,...,0.022482,0.026606,0.118044,0.180198,0.163154,0.144650,0.144650,0.163154,0.180198,0.162015
1,天津,120000.0,2022,0.776967,0.207554,0.213945,0.966491,0.081965,0.987936,0.031455,...,0.022482,0.020533,0.052519,0.173519,0.286255,0.073052,0.073052,0.286255,0.173519,0.153666
2,石家庄,130100.0,2022,0.569280,0.056857,0.047813,0.836038,0.030200,0.877887,0.023047,...,0.022482,0.022094,0.097943,0.172656,0.229986,0.120037,0.120037,0.229986,0.172656,0.168293
3,唐山,130200.0,2022,0.483440,0.040776,0.036246,0.850580,0.038570,0.945619,0.019572,...,0.022482,0.023506,0.118635,0.166842,0.215837,0.142141,0.142141,0.215837,0.166842,0.172339
4,秦皇岛,130300.0,2022,0.478578,0.042669,0.038583,0.723288,0.014600,0.799487,0.019375,...,0.022482,0.021784,0.124153,0.160404,0.181189,0.145937,0.145937,0.181189,0.160404,0.161872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,固原,640400.0,2022,0.164540,0.010188,0.008397,0.616860,0.002231,0.680874,0.006661,...,0.022482,0.022447,0.270476,0.175940,0.197254,0.292924,0.292924,0.197254,0.175940,0.216628
286,中卫,640500.0,2022,0.256153,0.005456,0.004312,0.703477,0.002371,0.597571,0.010370,...,0.022482,0.023516,0.187511,0.154613,0.192766,0.211027,0.211027,0.192766,0.154613,0.184589
287,新疆,650000.0,2022,0.363415,0.001334,0.001517,0.704531,0.000546,0.120862,0.014713,...,0.022482,0.022009,0.101293,0.134225,0.130168,0.123302,0.123302,0.130168,0.134225,0.129153
288,乌鲁木齐,650100.0,2022,0.950015,0.057606,0.079575,0.984826,0.016828,0.335376,0.038461,...,0.022482,0.021239,0.083951,0.169204,0.260310,0.105190,0.105190,0.260310,0.169204,0.166709
289,克拉玛依,650200.0,2022,0.987542,0.030897,0.021503,0.968809,0.009560,0.131714,0.039980,...,0.022482,0.023490,0.094691,0.169289,0.269944,0.118181,0.118181,0.269944,0.169289,0.175449

In [70]:
df_result = df_merged1[['Name_of_Regions_x', 'Citycode', 'Year', 'UER', 'UI']]

In [71]:
df_result

    Name_of_Regions_x  Citycode  Year       UER        UI
0                  北京  110000.0  2022  0.162015  0.194761
1                  天津  120000.0  2022  0.153666  0.205618
2                 石家庄  130100.0  2022  0.168293  0.081636
3                  唐山  130200.0  2022  0.172339  0.073447
4                 秦皇岛  130300.0  2022  0.161872  0.063776
..                ...       ...   ...       ...       ...
285                固原  640400.0  2022  0.216628  0.025806
286                中卫  640500.0  2022  0.184589  0.027134
287                新疆  650000.0  2022  0.129153  0.024608
288              乌鲁木齐  650100.0  2022  0.166709  0.099595
289              克拉玛依  650200.0  2022  0.175449  0.070756

[290 rows x 5 columns]

In [72]:
# 定义计算公式
def calculate_C(UI, UER):
    return np.sqrt((UI * UER) / ((UI + UER) / 2)**2)

def calculate_T(UI, UER, mu1=0.5, mu2=0.5):
    return mu1 * UI + mu2 * UER

def calculate_D(C, T):
    return np.sqrt(C * T)

# 计算C耦合度
df_result['C'] = df_result.apply(lambda row: calculate_C(row['UI'], row['UER']), axis=1)

# 计算T协调度
df_result['T'] = df_result.apply(lambda row: calculate_T(row['UI'], row['UER']), axis=1)

# 计算D耦合协调度
df_result['D'] = df_result.apply(lambda row: calculate_D(row['C'], row['T']), axis=1)

/tmp/ipykernel_13758/4091750289.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['C'] = df_result.apply(lambda row: calculate_C(row['UI'], row['UER']), axis=1)
/tmp/ipykernel_13758/4091750289.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['T'] = df_result.apply(lambda row: calculate_T(row['UI'], row['UER']), axis=1)
/tmp/ipykernel_13758/4091750289.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['D'] = df_result.apply(lambda row: calculate_D(row['C'], row['T']), axis=1)

In [73]:
# 定义归一化公式
def normalize(column):
    return (column - column.min()) / (column.max() - column.min())

# 归一化处理
df_result['UI_normalized'] = normalize(df_result['UI'])
df_result['UER_normalized'] = normalize(df_result['UER'])

# 定义计算公式
def calculate_C(UI, UER):
    return np.sqrt((UI * UER) / ((UI + UER) / 2)**2)

def calculate_T(UI, UER, mu1=0.5, mu2=0.5):
    return mu1 * UI + mu2 * UER

def calculate_D(C, T):
    return np.sqrt(C * T)

# 计算C耦合度
df_result['C2'] = df_result.apply(lambda row: calculate_C(row['UI_normalized'], row['UER_normalized']), axis=1)

# 计算T协调度
df_result['T2'] = df_result.apply(lambda row: calculate_T(row['UI_normalized'], row['UER_normalized']), axis=1)

# 计算D耦合协调度
df_result['D2'] = df_result.apply(lambda row: calculate_D(row['C2'], row['T2']), axis=1)

/tmp/ipykernel_13758/3512385329.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['UI_normalized'] = normalize(df_result['UI'])
/tmp/ipykernel_13758/3512385329.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['UER_normalized'] = normalize(df_result['UER'])
/tmp/ipykernel_13758/3512385329.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['C2'] = df_result.apply(lambda row: calculate_C(row['UI_normalized'], row['UER_normalized']), axis=1)
/tmp/ipykernel_13758/3512385329.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['T2'] = df_result.apply(lambda row: calculate_T(row['UI_normalized'], row['UER_normalized']), axis=1)
/tmp/ipykernel_13758/3512385329.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result['D2'] = df_result.apply(lambda row: calculate_D(row['C2'], row['T2']), axis=1)

In [74]:
df_result

,Name_of_Regions_x,Citycode,Year,UER,UI,C,T,D,UI_normalized,UER_normalized,C2,T2,D2
0,北京,110000.0,2022,0.162015,0.194761,0.995779,0.178388,0.421468,0.184459,0.544798,0.869395,0.364629,0.563033
1,天津,120000.0,2022,0.153666,0.205618,0.989490,0.179642,0.421609,0.195465,0.497460,0.900031,0.346463,0.558415
2,石家庄,130100.0,2022,0.168293,0.081636,0.937967,0.124965,0.342364,0.069773,0.580394,0.619029,0.325084,0.448594
3,唐山,130200.0,2022,0.172339,0.073447,0.915487,0.122893,0.335421,0.061471,0.603332,0.579364,0.332402,0.438841
4,秦皇岛,130300.0,2022,0.161872,0.063776,0.900560,0.112824,0.318755,0.051666,0.543987,0.562904,0.297826,0.409448
...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,固原,640400.0,2022,0.216628,0.025806,0.616810,0.121217,0.273437,0.013172,0.854444,0.244552,0.433808,0.325713
286,中卫,640500.0,2022,0.184589,0.027134,0.668531,0.105861,0.266029,0.014519,0.672785,0.287596,0.343652,0.314377
287,新疆,650000.0,2022,0.129153,0.024608,0.733289,0.076880,0.237436,0.011958,0.358475,0.353493,0.185216,0.255876
288,乌鲁木齐,650100.0,2022,0.166709,0.099595,0.967721,0.133152,0.358962,0.087979,0.571411,0.680067,0.329695,0.473514
289,克拉玛依,650200.0,2022,0.175449,0.070756,0.905087,0.123102,0.333794,0.058743,0.620963,0.561977,0.339853,0.437024

In [75]:
# 导出comprehensive_scores数据框为Excel文件
output_excel_path = 'data/df_2022_result.xlsx'
df_result.to_excel(output_excel_path, index=False)

In [2]:
#如果未运行以上步骤，导入本年数据
file_path = 'data/df_2022_result.xlsx'
df_result = pd.read_excel(file_path)

In [3]:
file_path = 'data/df_2018_result.xlsx'
df_result_2018 = pd.read_excel(file_path)

In [4]:
df_result_2018

,Name_of_Regions_x,Citycode,Year,UER,UI,C,T,D,UI_normalized,UER_normalized,C2,T2,D2
0,北京,110000,2018,0.155201,0.189678,0.994991,0.172440,0.414217,0.179462,0.694045,0.808060,0.436754,0.594073
1,天津,120000,2018,0.130704,0.204437,0.975499,0.167570,0.404308,0.194427,0.536943,0.883559,0.365685,0.568423
2,石家庄,130100,2018,0.160491,0.078075,0.938431,0.119283,0.334573,0.066292,0.727973,0.553164,0.397133,0.468700
3,唐山,130200,2018,0.144829,0.068595,0.934029,0.106712,0.315708,0.056679,0.627525,0.551279,0.342102,0.434274
4,秦皇岛,130300,2018,0.160711,0.059291,0.887402,0.110001,0.312434,0.047245,0.729383,0.478049,0.388314,0.430852
...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,固原,640400,2018,0.181765,0.024308,0.645115,0.103036,0.257818,0.011771,0.864404,0.230252,0.438087,0.317601
287,中卫,640500,2018,0.129779,0.023746,0.723181,0.076762,0.235612,0.011201,0.531007,0.284474,0.271104,0.277708
288,新疆,650000,2018,0.121093,0.018339,0.675956,0.069716,0.217083,0.005719,0.475304,0.216772,0.240511,0.228333
289,乌鲁木齐,650100,2018,0.144084,0.075474,0.949921,0.109779,0.322926,0.063655,0.622748,0.580127,0.343201,0.446207
290,克拉玛依,650200,2018,0.141702,0.044703,0.853943,0.093203,0.282117,0.032452,0.607476,0.438821,0.319964,0.374709

In [5]:
# 找出 df_result_2010 和 df_result 在 Citycode 列不匹配的行
mismatch_2018 = df_result_2018[~df_result_2018['Citycode'].isin(df_result['Citycode'])]
mismatch_result = df_result[~df_result['Citycode'].isin(df_result_2018['Citycode'])]

# 输出不匹配的行
print("Rows in df_result_2018 not in df_result:")
print(mismatch_2018)

print("\nRows in df_result not in df_result_2018:")
print(mismatch_result)

Rows in df_result_2018 not in df_result:
    Name_of_Regions_x  Citycode  Year       UER        UI        C        T  \
222                海口    460100  2018  0.126768  0.181712  0.98401  0.15424

            D  UI_normalized  UER_normalized        C2        T2        D2
222  0.389582       0.171384          0.5117  0.867059  0.341542  0.544185

Rows in df_result not in df_result_2018:
Empty DataFrame
Columns: [Name_of_Regions_x, Citycode, Year, UER, UI, C, T, D, UI_normalized, UER_normalized, C2, T2, D2]
Index: []

In [6]:
# 合并数据
df_merged2 = pd.merge(df_result_2018, df_result, left_on='Citycode', right_on='Citycode', suffixes=('_2018', '_2022'))

In [7]:
df_merged2

,Name_of_Regions_x_2018,Citycode,Year_2018,UER_2018,UI_2018,C_2018,T_2018,D_2018,UI_normalized_2018,UER_normalized_2018,...,UER_2022,UI_2022,C_2022,T_2022,D_2022,UI_normalized_2022,UER_normalized_2022,C2_2022,T2_2022,D2_2022
0,北京,110000,2018,0.155201,0.189678,0.994991,0.172440,0.414217,0.179462,0.694045,...,0.162015,0.194761,0.995779,0.178388,0.421468,0.184459,0.544798,0.869395,0.364629,0.563033
1,天津,120000,2018,0.130704,0.204437,0.975499,0.167570,0.404308,0.194427,0.536943,...,0.153666,0.205618,0.989490,0.179642,0.421609,0.195465,0.497460,0.900031,0.346463,0.558415
2,石家庄,130100,2018,0.160491,0.078075,0.938431,0.119283,0.334573,0.066292,0.727973,...,0.168293,0.081636,0.937967,0.124965,0.342364,0.069773,0.580394,0.619029,0.325084,0.448594
3,唐山,130200,2018,0.144829,0.068595,0.934029,0.106712,0.315708,0.056679,0.627525,...,0.172339,0.073447,0.915487,0.122893,0.335421,0.061471,0.603332,0.579364,0.332402,0.438841
4,秦皇岛,130300,2018,0.160711,0.059291,0.887402,0.110001,0.312434,0.047245,0.729383,...,0.161872,0.063776,0.900560,0.112824,0.318755,0.051666,0.543987,0.562904,0.297826,0.409448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,固原,640400,2018,0.181765,0.024308,0.645115,0.103036,0.257818,0.011771,0.864404,...,0.216628,0.025806,0.616810,0.121217,0.273437,0.013172,0.854444,0.244552,0.433808,0.325713
286,中卫,640500,2018,0.129779,0.023746,0.723181,0.076762,0.235612,0.011201,0.531007,...,0.184589,0.027134,0.668531,0.105861,0.266029,0.014519,0.672785,0.287596,0.343652,0.314377
287,新疆,650000,2018,0.121093,0.018339,0.675956,0.069716,0.217083,0.005719,0.475304,...,0.129153,0.024608,0.733289,0.076880,0.237436,0.011958,0.358475,0.353493,0.185216,0.255876
288,乌鲁木齐,650100,2018,0.144084,0.075474,0.949921,0.109779,0.322926,0.063655,0.622748,...,0.166709,0.099595,0.967721,0.133152,0.358962,0.087979,0.571411,0.680067,0.329695,0.473514
289,克拉玛依,650200,2018,0.141702,0.044703,0.853943,0.093203,0.282117,0.032452,0.607476,...,0.175449,0.070756,0.905087,0.123102,0.333794,0.058743,0.620963,0.561977,0.339853,0.437024

# 计算Tapio脱钩模型

In [8]:
# 计算增长率
df_merged2['Delta_UER'] = (df_merged2['UER_2022'] - df_merged2['UER_2018']) / df_merged2['UER_2018']
df_merged2['Delta_UI'] = (df_merged2['UI_2022'] - df_merged2['UI_2018']) / df_merged2['UI_2018']

# 计算脱钩指数DI
df_merged2['DI'] = df_merged2['Delta_UER'] / df_merged2['Delta_UI']

In [9]:
df_merged2

,Name_of_Regions_x_2018,Citycode,Year_2018,UER_2018,UI_2018,C_2018,T_2018,D_2018,UI_normalized_2018,UER_normalized_2018,...,T_2022,D_2022,UI_normalized_2022,UER_normalized_2022,C2_2022,T2_2022,D2_2022,Delta_UER,Delta_UI,DI
0,北京,110000,2018,0.155201,0.189678,0.994991,0.172440,0.414217,0.179462,0.694045,...,0.178388,0.421468,0.184459,0.544798,0.869395,0.364629,0.563033,0.043905,0.026798,1.638325
1,天津,120000,2018,0.130704,0.204437,0.975499,0.167570,0.404308,0.194427,0.536943,...,0.179642,0.421609,0.195465,0.497460,0.900031,0.346463,0.558415,0.175676,0.005777,30.408838
2,石家庄,130100,2018,0.160491,0.078075,0.938431,0.119283,0.334573,0.066292,0.727973,...,0.124965,0.342364,0.069773,0.580394,0.619029,0.325084,0.448594,0.048613,0.045620,1.065607
3,唐山,130200,2018,0.144829,0.068595,0.934029,0.106712,0.315708,0.056679,0.627525,...,0.122893,0.335421,0.061471,0.603332,0.579364,0.332402,0.438841,0.189950,0.070746,2.684956
4,秦皇岛,130300,2018,0.160711,0.059291,0.887402,0.110001,0.312434,0.047245,0.729383,...,0.112824,0.318755,0.051666,0.543987,0.562904,0.297826,0.409448,0.007223,0.075640,0.095490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,固原,640400,2018,0.181765,0.024308,0.645115,0.103036,0.257818,0.011771,0.864404,...,0.121217,0.273437,0.013172,0.854444,0.244552,0.433808,0.325713,0.191805,0.061622,3.112611
286,中卫,640500,2018,0.129779,0.023746,0.723181,0.076762,0.235612,0.011201,0.531007,...,0.105861,0.266029,0.014519,0.672785,0.287596,0.343652,0.314377,0.422334,0.142688,2.959843
287,新疆,650000,2018,0.121093,0.018339,0.675956,0.069716,0.217083,0.005719,0.475304,...,0.076880,0.237436,0.011958,0.358475,0.353493,0.185216,0.255876,0.066558,0.341820,0.194717
288,乌鲁木齐,650100,2018,0.144084,0.075474,0.949921,0.109779,0.322926,0.063655,0.622748,...,0.133152,0.358962,0.087979,0.571411,0.680067,0.329695,0.473514,0.157029,0.319590,0.491344
289,克拉玛依,650200,2018,0.141702,0.044703,0.853943,0.093203,0.282117,0.032452,0.607476,...,0.123102,0.333794,0.058743,0.620963,0.561977,0.339853,0.437024,0.238149,0.582796,0.408632

In [10]:
def classify_decoupling(row):
    Delta_ER = row['Delta_UER']
    Delta_UI = row['Delta_UI']
    DI = row['DI']
    
    if Delta_ER < 0 and Delta_UI < 0 and 1.2 <= DI < float('inf'):
        return 'Recession decoupling / Decoupling'
    elif Delta_ER < 0 and Delta_UI > 0 and float('-inf') < DI <= 0:
        return 'Strong decoupling / Decoupling'
    elif Delta_ER > 0 and Delta_UI > 0 and 0 <= DI <= 0.8:
        return 'Weak decoupling / Decoupling'
    elif Delta_ER > 0 and Delta_UI > 0 and 0.8 < DI <= 1.2:
        return 'Expansion connection / Connection'
    elif Delta_ER < 0 and Delta_UI < 0 and 0.8 < DI <= 1.2:
        return 'Recession connection / Connection'
    elif Delta_ER > 0 and Delta_UI > 0 and 1.2 <= DI < float('inf'):
        return 'Negative decoupling of expansion / Negative decoupling'
    elif Delta_ER > 0 and Delta_UI < 0 and float('-inf') < DI <= 0:
        return 'Strong negative decoupling / Negative decoupling'
    elif Delta_ER < 0 and Delta_UI < 0 and 0 <= DI <= 0.8:
        return 'Weak negative decoupling / Negative decoupling'
    else:
        return 'Unknown'

# Apply the function to the DataFrame
df_merged2['DI_Category'] = df_merged2.apply(classify_decoupling, axis=1)

In [11]:
df_merged2

,Name_of_Regions_x_2018,Citycode,Year_2018,UER_2018,UI_2018,C_2018,T_2018,D_2018,UI_normalized_2018,UER_normalized_2018,...,D_2022,UI_normalized_2022,UER_normalized_2022,C2_2022,T2_2022,D2_2022,Delta_UER,Delta_UI,DI,DI_Category
0,北京,110000,2018,0.155201,0.189678,0.994991,0.172440,0.414217,0.179462,0.694045,...,0.421468,0.184459,0.544798,0.869395,0.364629,0.563033,0.043905,0.026798,1.638325,Negative decoupling of expansion / Negative de...
1,天津,120000,2018,0.130704,0.204437,0.975499,0.167570,0.404308,0.194427,0.536943,...,0.421609,0.195465,0.497460,0.900031,0.346463,0.558415,0.175676,0.005777,30.408838,Negative decoupling of expansion / Negative de...
2,石家庄,130100,2018,0.160491,0.078075,0.938431,0.119283,0.334573,0.066292,0.727973,...,0.342364,0.069773,0.580394,0.619029,0.325084,0.448594,0.048613,0.045620,1.065607,Expansion connection / Connection
3,唐山,130200,2018,0.144829,0.068595,0.934029,0.106712,0.315708,0.056679,0.627525,...,0.335421,0.061471,0.603332,0.579364,0.332402,0.438841,0.189950,0.070746,2.684956,Negative decoupling of expansion / Negative de...
4,秦皇岛,130300,2018,0.160711,0.059291,0.887402,0.110001,0.312434,0.047245,0.729383,...,0.318755,0.051666,0.543987,0.562904,0.297826,0.409448,0.007223,0.075640,0.095490,Weak decoupling / Decoupling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,固原,640400,2018,0.181765,0.024308,0.645115,0.103036,0.257818,0.011771,0.864404,...,0.273437,0.013172,0.854444,0.244552,0.433808,0.325713,0.191805,0.061622,3.112611,Negative decoupling of expansion / Negative de...
286,中卫,640500,2018,0.129779,0.023746,0.723181,0.076762,0.235612,0.011201,0.531007,...,0.266029,0.014519,0.672785,0.287596,0.343652,0.314377,0.422334,0.142688,2.959843,Negative decoupling of expansion / Negative de...
287,新疆,650000,2018,0.121093,0.018339,0.675956,0.069716,0.217083,0.005719,0.475304,...,0.237436,0.011958,0.358475,0.353493,0.185216,0.255876,0.066558,0.341820,0.194717,Weak decoupling / Decoupling
288,乌鲁木齐,650100,2018,0.144084,0.075474,0.949921,0.109779,0.322926,0.063655,0.622748,...,0.358962,0.087979,0.571411,0.680067,0.329695,0.473514,0.157029,0.319590,0.491344,Weak decoupling / Decoupling
289,克拉玛依,650200,2018,0.141702,0.044703,0.853943,0.093203,0.282117,0.032452,0.607476,...,0.333794,0.058743,0.620963,0.561977,0.339853,0.437024,0.238149,0.582796,0.408632,Weak decoupling / Decoupling

In [12]:
df_merged2['Citycode'] = df_merged2['Citycode'].astype('object')

In [13]:
df_merged2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name_of_Regions_x_2018  290 non-null    object
 1   Citycode                290 non-null    object
 2   Year_2018               290 non-null    int64
 3   UER_2018                290 non-null    float64
 4   UI_2018                 290 non-null    float64
 5   C_2018                  290 non-null    float64
 6   T_2018                  290 non-null    float64
 7   D_2018                  290 non-null    float64
 8   UI_normalized_2018      290 non-null    float64
 9   UER_normalized_2018     290 non-null    float64
 10  C2_2018                 290 non-null    float64
 11  T2_2018                 290 non-null    float64
 12  D2_2018                 290 non-null    float64
 13  Name_of_Regions_x_2022  290 non-null    object
 14  Year_2022               290 non-null    int64
 15  UER_2022                290 non-null    float64
 16  UI_2022                 290 non-null    float64
 17  C_2022                  290 non-null    float64
 18  T_2022                  290 non-null    float64
 19  D_2022                  290 non-null    float64
 20  UI_normalized_2022      290 non-null    float64
 21  UER_normalized_2022     290 non-null    float64
 22  C2_2022                 290 non-null    float64
 23  T2_2022                 290 non-null    float64
 24  D2_2022                 290 non-null    float64
 25  Delta_UER               290 non-null    float64
 26  Delta_UI                290 non-null    float64
 27  DI                      290 non-null    float64
 28  DI_Category             290 non-null    object
dtypes: float64(23), int64(2), object(4)
memory usage: 65.8+ KB

In [14]:
# 读取shapefile
shapefile_path = 'data/Chinamap_2019/Merged_Municipalities.shp'
gdf = gpd.read_file(shapefile_path)

In [15]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Prvnc_c   317 non-null    float64
 1   City_cd   317 non-null    object
 2   Area      317 non-null    object
 3   Name      286 non-null    object
 4   geometry  317 non-null    geometry
dtypes: float64(1), geometry(1), object(3)
memory usage: 12.5+ KB

In [16]:
df_merged2['Citycode'] = df_merged2['Citycode'].astype(float)
gdf['City_cd'] = gdf['City_cd'].astype(float)

In [17]:
# 根据Citycode和市代码进行连接，保留不匹配的行
data_merged3 = gdf.merge(df_merged2, left_on='City_cd', right_on='Citycode', how='outer')

In [18]:
data_merged3.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Prvnc_c                 317 non-null    float64
 1   City_cd                 317 non-null    float64
 2   Area                    317 non-null    object
 3   Name                    286 non-null    object
 4   geometry                317 non-null    geometry
 5   Name_of_Regions_x_2018  290 non-null    object
 6   Citycode                290 non-null    float64
 7   Year_2018               290 non-null    float64
 8   UER_2018                290 non-null    float64
 9   UI_2018                 290 non-null    float64
 10  C_2018                  290 non-null    float64
 11  T_2018                  290 non-null    float64
 12  D_2018                  290 non-null    float64
 13  UI_normalized_2018      290 non-null    float64
 14  UER_normalized_2018     290 non-null    float64
 15  C2_2018                 290 non-null    float64
 16  T2_2018                 290 non-null    float64
 17  D2_2018                 290 non-null    float64
 18  Name_of_Regions_x_2022  290 non-null    object
 19  Year_2022               290 non-null    float64
 20  UER_2022                290 non-null    float64
 21  UI_2022                 290 non-null    float64
 22  C_2022                  290 non-null    float64
 23  T_2022                  290 non-null    float64
 24  D_2022                  290 non-null    float64
 25  UI_normalized_2022      290 non-null    float64
 26  UER_normalized_2022     290 non-null    float64
 27  C2_2022                 290 non-null    float64
 28  T2_2022                 290 non-null    float64
 29  D2_2022                 290 non-null    float64
 30  Delta_UER               290 non-null    float64
 31  Delta_UI                290 non-null    float64
 32  DI                      290 non-null    float64
 33  DI_Category             290 non-null    object
dtypes: float64(28), geometry(1), object(5)
memory usage: 85.7+ KB

In [19]:
# 查找 Name_of_Regions_x_2010 有值但是 Name 列无值的行
rows_with_value_in_Regions_but_not_in_Name = data_merged3[(data_merged3['Name_of_Regions_x_2018'].notna()) & (data_merged3['Name'].isna())]

# 输出符合条件的行
print(rows_with_value_in_Regions_but_not_in_Name)

     Prvnc_c  City_cd Area Name geometry Name_of_Regions_x_2018  Citycode  \
317      NaN      NaN  NaN  NaN     None                     三亚  460200.0
318      NaN      NaN  NaN  NaN     None                     拉萨  540100.0
319      NaN      NaN  NaN  NaN     None                     西宁  630100.0
320      NaN      NaN  NaN  NaN     None                   乌鲁木齐  650100.0
321      NaN      NaN  NaN  NaN     None                   克拉玛依  650200.0

     Year_2018  UER_2018   UI_2018  ...    D_2022  UI_normalized_2022  \
317     2018.0  0.159166  0.080339  ...  0.363353            0.079467
318     2018.0  0.053260  0.023723  ...  0.237867            0.028429
319     2018.0  0.139325  0.054908  ...  0.312523            0.045174
320     2018.0  0.144084  0.075474  ...  0.358962            0.087979
321     2018.0  0.141702  0.044703  ...  0.333794            0.058743

     UER_normalized_2022   C2_2022   T2_2022   D2_2022  Delta_UER  Delta_UI  \
317             0.709877  0.601795  0.394672  0.487352   0.200824  0.135165
318             0.070489  0.905098  0.049459  0.211578   0.471265  0.722158
319             0.568963  0.522096  0.307068  0.400399   0.193448  0.044865
320             0.571411  0.680067  0.329695  0.473514   0.157029  0.319590
321             0.620963  0.561977  0.339853  0.437024   0.238149  0.582796

           DI                                        DI_Category
317  1.485767  Negative decoupling of expansion / Negative de...
318  0.652579                       Weak decoupling / Decoupling
319  4.311768  Negative decoupling of expansion / Negative de...
320  0.491344                       Weak decoupling / Decoupling
321  0.408632                       Weak decoupling / Decoupling

[5 rows x 34 columns]

In [20]:
# 删除 geometry 列为空值的行
data_merged3 = data_merged3.dropna(subset=['geometry'])

In [21]:
# 查找 geometry 列为空值的行
rows_with_nan_in_geometry = data_merged3[data_merged3['geometry'].isna()]

# 输出包含 geometry 列为空值的行
print(rows_with_nan_in_geometry)

Empty GeoDataFrame
Columns: [Prvnc_c, City_cd, Area, Name, geometry, Name_of_Regions_x_2018, Citycode, Year_2018, UER_2018, UI_2018, C_2018, T_2018, D_2018, UI_normalized_2018, UER_normalized_2018, C2_2018, T2_2018, D2_2018, Name_of_Regions_x_2022, Year_2022, UER_2022, UI_2022, C_2022, T_2022, D_2022, UI_normalized_2022, UER_normalized_2022, C2_2022, T2_2022, D2_2022, Delta_UER, Delta_UI, DI, DI_Category]
Index: []

[0 rows x 34 columns]

In [22]:
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'省代码': 'Provincecode'})
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'省': 'Province'})
# 修改列名称“省代码”为“province”
data_merged3 = data_merged3.rename(columns={'市代码': 'Citycode1'})
data_merged3 = data_merged3.rename(columns={'市': 'City'})
data_merged3 = data_merged3.rename(columns={'类型': 'Type'})

In [23]:
# 将data_merged导出为新的shapefile
output_shapefile_path = 'data/Chinamap_2019/CouplingValue_20182022.shp'
data_merged3.to_file(output_shapefile_path, driver='ESRI Shapefile')

/tmp/ipykernel_16782/462556851.py:3: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  data_merged3.to_file(output_shapefile_path, driver='ESRI Shapefile')